# World Poverty Measure

Data Analysis with Pandas

Team members:

Sandeep Yadav Pala Sreeramulu      (Net id: spalas3)
Thashma Nellira Dechamma           (Net id: dn7)
Akshat Gupta                       (Net id: akshatg2)

In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
xls = pd.ExcelFile('MPI Dataset 2021.xlsx')
mpi_df = pd.read_excel(xls, 'Sheet1')
mpi_df.sample(10)

,Country Numeric Code,Country Code,Country,World Region,Survey,Year,Multidimensional Poverty Index (MPI),Nutrition,Child mortality,Years of schooling,School attendance,Cooking fuel,Sanitation,Drinking water,Electricity,Housing,Assets,Total number of indicators included,Indicator (s) missing
45,760,SYR,Syria,Arab States,PAPFAM,2009,0.028790,4.616489,2.427942,3.684532,4.777807,0.149088,1.439638,1.554043,0.115417,1.556359,0.487848,10,NaN
41,710,ZAF,South Africa,Sub-Saharan Africa,DHS,2016,0.024891,4.649155,1.244682,1.563912,0.393360,4.433073,2.057524,3.803734,3.554453,4.156268,3.244780,10,NaN
8,398,KAZ,Kazakhstan,Europe and Central Asia,MICS,2015,0.001611,0.451137,0.422889,0.001840,0.028248,0.030088,0.000000,0.060462,0.001840,0.092562,0.001840,10,NaN
71,768,TGO,Togo,Sub-Saharan Africa,MICS,2017,0.179616,17.653662,4.922488,19.063474,11.245540,37.418727,35.951258,22.508467,29.694920,24.801494,14.278906,10,NaN
1,51,ARM,Armenia,Europe and Central Asia,DHS,2015-2016,0.000690,0.137095,0.000000,0.023653,0.128609,0.072571,0.190553,0.038291,0.000000,0.023653,0.048983,10,NaN
27,144,LKA,Sri Lanka,South Asia,SLDHS,2016,0.011185,2.031289,0.151074,0.972291,0.667991,2.681250,1.393136,1.249193,0.740628,1.462285,1.138028,10,NaN
101,450,MDG,Madagascar,Sub-Saharan Africa,MICS,2018,0.383974,30.476554,5.211131,49.365753,26.797507,68.906044,68.244063,52.836509,55.097934,61.613220,48.903415,10,NaN
2,804,UKR,Ukraine,Europe and Central Asia,MICS,2012,0.000840,NaN,0.152496,0.091741,0.051263,0.066516,0.029472,0.023141,0.004355,0.014627,0.030677,9,Nutrition
53,72,BWA,Botswana,Sub-Saharan Africa,BMTHS,2015-2016,0.072639,12.330787,0.870750,3.963683,3.224481,16.382639,13.960457,3.915805,15.475724,9.056362,10.789569,10,NaN
64,178,COG,Congo,Sub-Saharan Africa,MICS,2014-2015,0.111676,12.543919,3.141485,9.681945,3.819935,23.608696,23.017480,14.841138,20.137463,19.288223,12.562477,10,NaN

In [90]:
world_bank_df = pd.read_csv('World Bank Data.csv')

world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate', ascending=False)
world_bank_df.head(10)

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_20,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent
92,Slovak Republic,2017.0,12.2,NaN,NaN,NaN,2014.0,63.0,0.9,2.4,...,68.2,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Morocco,2013.0,4.8,1.4,15.0,2017.0,2015.0,59.1,1.0,2.8,...,63.7,47.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,St. Lucia,2016.0,25.0,12.2,44.0,2014.0,1999.0,57.6,NaN,NaN,...,60.2,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,West Bank and Gaza,2016.0,29.2,0.8,4.5,2016.0,2015.0,57.1,1.0,2.9,...,61.3,44.4,2011.0,2016.0,-0.9,-0.6,5.5,5.2,11.2,10.9
133,Russian Federation,2018.0,12.9,NaN,NaN,NaN,2017.0,56.3,1.3,3.9,...,61.2,49.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Cayman Islands,NaN,NaN,65.9,82.9,2008.0,2008.0,56.2,1.2,3.3,...,60.8,46.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,St. Martin (French part),NaN,NaN,23.4,42.8,1999.0,2016.0,54.6,1.4,3.7,...,60.3,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Mongolia,2018.0,28.4,0.9,7.3,2013.0,2014.0,54.0,1.6,4.2,...,59.5,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Brazil,NaN,NaN,4.4,9.1,2018.0,2018.0,53.9,1.0,3.1,...,58.4,42.5,2013.0,2018.0,-0.4,0.7,5.6,5.5,20.3,21.0
6,Botswana,2009.0,19.3,14.5,36.5,2015.0,2015.0,53.3,1.5,3.9,...,58.5,41.5,2009.0,2015.0,0.4,-3.3,2.1,2.2,9.9,8.0

In [6]:
def createNewMpiCalculatedColumn(weightList, df, columnName):
    df[columnName] = ((df['Nutrition']*weightList[0]) + (df['Child mortality']*weightList[1]) + 
                      (df['Years of schooling']*weightList[2]) + (df['School attendance']*weightList[3]) +
                      (df['Cooking fuel']*weightList[4]) + (df['Sanitation']*weightList[5]) +
                      (df['Drinking water']*weightList[6]) + (df['Electricity']*weightList[7]) +
                      (df['Housing']*weightList[8]) + (df['Assets']*weightList[9]))/10
    return df[columnName]

In [59]:
weights = [0.16, 0.16, 0.16, 0.16, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05]
new_column_name = 'New MPI'
new_df = mpi_df.loc[:, mpi_df.columns != "Indicator (s) missing"]
new_df[new_column_name] = createNewMpiCalculatedColumn(weights, new_df, new_column_name)
new_df = new_df.sort_values(by = 'New MPI')
new_df = new_df.reset_index(drop=True)
new_df

,Country Numeric Code,Country Code,Country,World Region,Survey,Year,Multidimensional Poverty Index (MPI),Nutrition,Child mortality,Years of schooling,School attendance,Cooking fuel,Sanitation,Drinking water,Electricity,Housing,Assets,Total number of indicators included,New MPI
0,688,SRB,Serbia,Europe and Central Asia,MICS,2019,0.000433,0.023019,0.057378,0.054523,0.049654,0.100292,0.030504,0.024812,0.007462,0.046886,0.015927,10,0.004083
1,51,ARM,Armenia,Europe and Central Asia,DHS,2015-2016,0.000690,0.137095,0.000000,0.023653,0.128609,0.072571,0.190553,0.038291,0.000000,0.023653,0.048983,10,0.006500
2,268,GEO,Georgia,Europe and Central Asia,MICS,2018,0.001245,0.093509,0.258537,0.045744,0.131714,0.173111,0.151607,0.119599,0.003167,0.159053,0.045233,10,0.011731
3,807,MKD,North Macedonia,Europe and Central Asia,MICS,2018-2019,0.001422,0.049057,0.203836,0.322799,0.126076,0.187670,0.094954,0.004192,0.079785,0.000000,0.087804,10,0.013500
4,417,KGZ,Kyrgyzstan,Europe and Central Asia,MICS,2018,0.001426,0.393031,0.159708,0.039468,0.113286,0.264173,0.052981,0.096483,0.000000,0.036623,0.000000,10,0.013539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,484,MEX,Mexico,Latin America and the Caribbean,ENSANUT,2016,0.025615,5.233283,NaN,1.324077,0.778597,2.431594,2.161883,1.163711,0.139551,1.432236,1.070969,9,NaN
105,426,LSO,Lesotho,Sub-Saharan Africa,MICS,2018,0.084359,9.584669,1.484473,5.519687,3.659291,NaN,14.803903,11.618516,18.364160,15.892954,15.238950,9,NaN
106,340,HND,Honduras,Latin America and the Caribbean,DHS,2011-2012,0.093057,9.923804,0.958571,10.231574,7.900505,19.154258,14.553490,7.022158,NaN,18.460836,7.858169,9,NaN
107,598,PNG,Papua New Guinea,East Asia and the Pacific,DHS,2016-2018,0.263291,NaN,3.637692,19.493614,27.990497,56.262477,50.799519,44.926346,55.261831,52.695402,49.699559,9,NaN
108,4,AFG,Afghanistan,South Asia,DHS,2015-2016,0.271721,NaN,8.159285,31.381973,41.964449,49.259972,48.714027,30.120814,23.675098,54.479075,13.854264,9,NaN

In [48]:
national_mpi_df = pd.read_csv('MPI_national.csv')
national_mpi_df

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural
0,KAZ,Kazakhstan,0.000,0.0,33.3,0.000,0.09,33.3
1,SRB,Serbia,0.000,0.1,41.4,0.002,0.50,40.3
2,KGZ,Kyrgyzstan,0.000,0.1,40.2,0.003,0.70,37.1
3,TUN,Tunisia,0.000,0.1,35.6,0.012,3.18,38.7
4,ARM,Armenia,0.001,0.2,33.3,0.001,0.39,36.9
...,...,...,...,...,...,...,...,...
97,CAF,Central African Republic,0.289,58.2,49.7,0.519,89.79,57.8
98,LBR,Liberia,0.290,60.5,48.0,0.481,84.86,56.6
99,SOM,Somalia,0.293,55.9,52.4,0.651,96.92,67.2
100,TCD,Chad,0.351,64.8,54.1,0.609,93.41,65.2
101,SSD,South Sudan,0.459,82.5,55.7,0.591,94.00,62.8

# Hypothesis 1

The MPI urban and MPI rural are accurate indicators of the poverty levels (can verify by comparing it with the % population listed below poverty level)

In [98]:
def getDifferenceInPovertyIn2DFs(primary_df, df, hypothesis):
    
    number_of_matches = 0
    for i in range(len(df)):
        for j in range(len(df)):
            #print(df['ISO'][i])
            #print(primary_df['Country Code'][i])
            if hypothesis == 'Hypothesis 1':
                if df['ISO'][j] == primary_df['Country Code'][i]:
                    print(df['Country'][i])
                    number_of_matches += 1
                    continue
            elif hypothesis == 'Hypothesis 2':
                if df['Country'][j] == primary_df['Country'][i]:
                    print(df['Country'][i])
                    number_of_matches += 1
                    continue
            
    return ((number_of_matches/len(df))*100)

In [99]:
urban_sorted_df = national_mpi_df.sort_values(by = 'MPI Urban')
urban_sorted_df = urban_sorted_df.reset_index(drop=True)
print("Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:")
urban_matching_percent = getDifferenceInPovertyIn2DFs(new_df.head(25), urban_sorted_df.head(25), 'Hypothesis 1')
print()
print(urban_matching_percent, "% match between MPI Urban levels and weighted MPI levels")

Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:
Kazakhstan
Serbia
Tunisia
Armenia
Macedonia, The former Yugoslav Republic of
Turkmenistan
Moldova, Republic of
Guyana
Mexico
Saint Lucia
Montenegro
Albania
Ukraine
Barbados
Uzbekistan
Maldives
Belize

68.0 % match between MPI Urban levels and weighted MPI levels

In [100]:
rural_sorted_df = national_mpi_df.sort_values(by = 'MPI Rural')
rural_sorted_df = rural_sorted_df.reset_index(drop=True)
print("Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:")
rural_matching_percent = getDifferenceInPovertyIn2DFs(new_df.head(25), rural_sorted_df.head(25), 'Hypothesis 1')
print()
print(rural_matching_percent, "% match between MPI Rural levels and weighted MPI levels")

Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:
Kazakhstan
Montenegro
Armenia
Bosnia and Herzegovina
Barbados
Serbia
Moldova, Republic of
Kyrgyzstan
Palestine, State ofa
Thailand
Ukraine
Albania
Jamaica
Uzbekistan
Algeria

60.0 % match between MPI Rural levels and weighted MPI levels

# Hypothesis 2

The higher the difference between the income of the highest 10% and the bottom 10%, the higher the chances are for a country to fall under most poor countries

In [101]:
wb_df = world_bank_df
wb_df['10% Difference'] = wb_df['Income_Highest_10'] - wb_df['Income_Lowest_10']
wb_df = wb_df.sort_values(by='10% Difference', ascending=False)
wb_df = wb_df.reset_index(drop=True)
wb_df.head(10)

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent,10% Difference
0,Slovak Republic,2017.0,12.2,NaN,NaN,NaN,2014.0,63.0,0.9,2.4,...,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.6
1,Russian Federation,2018.0,12.9,NaN,NaN,NaN,2017.0,56.3,1.3,3.9,...,49.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.8
2,Morocco,2013.0,4.8,1.4,15.0,2017.0,2015.0,59.1,1.0,2.8,...,47.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.3
3,Cayman Islands,NaN,NaN,65.9,82.9,2008.0,2008.0,56.2,1.2,3.3,...,46.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
4,Mongolia,2018.0,28.4,0.9,7.3,2013.0,2014.0,54.0,1.6,4.2,...,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.9
5,West Bank and Gaza,2016.0,29.2,0.8,4.5,2016.0,2015.0,57.1,1.0,2.9,...,44.4,2011.0,2016.0,-0.9,-0.6,5.5,5.2,11.2,10.9,43.4
6,Brazil,NaN,NaN,4.4,9.1,2018.0,2018.0,53.9,1.0,3.1,...,42.5,2013.0,2018.0,-0.4,0.7,5.6,5.5,20.3,21.0,41.5
7,Belize,NaN,NaN,13.9,27.7,1999.0,1999.0,53.3,0.9,3.2,...,42.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.5
8,St. Martin (French part),NaN,NaN,23.4,42.8,1999.0,2016.0,54.6,1.4,3.7,...,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.3
9,Guinea,2018.0,43.7,11.7,25.2,1998.0,2010.0,50.7,1.6,4.5,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.4

In [102]:
print("Countries matching between the comparisons of difference between highest and lowest 10% income:")
world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate', ascending=False)
world_bank_df = world_bank_df.reset_index(drop=True)
matching_percent = getDifferenceInPovertyIn2DFs(wb_df.head(25), world_bank_df.head(25), 'Hypothesis 2')
print()
print(matching_percent, "% match between the difference between highest and lowest 10% income")

Countries matching between the comparisons of difference between highest and lowest 10% income:
Slovak Republic
Morocco
St. Lucia
West Bank and Gaza
Russian Federation
Cayman Islands
St. Martin (French part)
Mongolia
Brazil
Botswana
Belize
Haiti
Angola
South Sudan
Guinea
Comoros
Norway
Costa Rica
Guam
Cote d'Ivoire
Sao Tome and Principe

84.0 % match between the difference between highest and lowest 10% income

# Hypothesis 3

The higher the annualized growth of the bottom 40% of people in terms of income the higher the chances are for that country to push of the poverty zone

In [103]:
wb_df = world_bank_df
wb_df = wb_df.sort_values(by='Annualized_Growth_Bottom_40', ascending=False)
wb_df = wb_df.reset_index(drop=True)
wb_df.head(10)

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent,10% Difference
0,Portugal,2018.0,17.2,3.1,6.3,2017.0,2018.0,37.5,2.9,7.1,...,29.9,2012.0,2017.0,10.0,10.0,4.2,6.8,10.1,16.3,27.0
1,Chile,2017.0,8.6,0.5,5.4,2016.0,2016.0,38.5,2.7,6.5,...,29.4,2013.0,2016.0,8.4,7.1,3.9,5.0,9.5,11.6,26.7
2,Madagascar,2012.0,70.7,0.0,0.2,2015.0,2016.0,31.3,3.4,8.3,...,25.2,2015.0,2016.0,8.3,6.0,11.1,11.1,28.0,28.0,21.8
3,Eswatini,2017.0,58.9,NaN,NaN,NaN,2017.0,30.4,3.0,8.1,...,22.5,2012.0,2017.0,8.0,7.2,12.1,17.8,24.2,34.3,19.5
4,Lao PDR,2018.0,18.3,0.0,0.1,2011.0,2011.0,31.8,3.1,7.9,...,24.8,2012.0,2017.0,7.9,8.2,8.3,12.1,17.9,26.6,21.7
5,Luxembourg,2017.0,18.3,4.6,9.0,2017.0,2012.0,42.6,2.2,5.7,...,33.5,2012.0,2017.0,7.1,4.3,3.7,5.3,9.5,11.7,31.3
6,Liechtenstein,NaN,NaN,0.3,0.4,2017.0,2017.0,34.9,2.4,6.5,...,25.8,2012.0,2017.0,6.3,7.4,9.4,12.8,20.0,28.7,23.4
7,Paraguay,2018.0,24.2,0.3,0.6,2017.0,2017.0,33.8,2.7,7.4,...,26.7,2012.0,2017.0,6.0,4.0,11.2,15.0,22.8,27.8,24.0
8,Mozambique,2014.0,46.1,13.8,30.3,2015.0,2010.0,32.8,3.5,8.3,...,26.4,2009.0,2015.0,5.7,6.6,1.7,2.4,7.6,11.0,22.9
9,Cuba,NaN,NaN,NaN,NaN,NaN,2017.0,30.4,2.7,7.4,...,22.8,2012.0,2017.0,5.5,4.3,8.7,11.4,17.8,21.9,20.1

In [104]:
print("Countries matching after the comparisons of Annualized Growth of Bottom 40% income bracket people:")
world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate')
world_bank_df = world_bank_df.reset_index(drop=True)
matching_percent = getDifferenceInPovertyIn2DFs(wb_df.head(25), world_bank_df.head(25), 'Hypothesis 2')
print()
print(matching_percent, "% match after the comparisons of Annualized Growth of Bottom 40% income bracket people")

Countries matching after the comparisons of Annualized Growth of Bottom 40% income bracket people:
Seychelles
Finland
Kosovo
St. Vincent and the Grenadines
Korea, Dem. Peoples Rep.

20.0 % match after the comparisons of Annualized Growth of Bottom 40% income bracket people