# World Poverty Measure

Data Analysis with Pandas

Team members:

Sandeep Yadav Pala Sreeramulu      (Net id: spalas3)
Thashma Nellira Dechamma           (Net id: dn7)
Akshat Gupta                       (Net id: akshatg2)

In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
'''
This dataset contains the world poverty data based on the Multi Dimensional Poverty index which has the following 10 factors:
Health :- Nutrition, Child mortality
Education :- Years of schooling, School attendance
Living Standards :- Cooking fuel, Sanitation, Drinking water, Electricity, Housing, Assets
'''
xls = pd.ExcelFile('MPI Dataset 2021.xlsx')
mpi_df = pd.read_excel(xls, 'Sheet1')
mpi_df.sample(10)

,Country Numeric Code,Country Code,Country,World Region,Survey,Year,Multidimensional Poverty Index (MPI),Nutrition,Child mortality,Years of schooling,School attendance,Cooking fuel,Sanitation,Drinking water,Electricity,Housing,Assets,Total number of indicators included,Indicator (s) missing
74,586,PAK,Pakistan,South Asia,DHS,2017-2018,0.198247,26.980925,5.871063,24.819756,24.323150,31.241473,21.687021,7.943032,7.142214,30.643726,12.203164,10,NaN
6,417,KGZ,Kyrgyzstan,Europe and Central Asia,MICS,2018,0.001426,0.393031,0.159708,0.039468,0.113286,0.264173,0.052981,0.096483,0.000000,0.036623,0.000000,10,NaN
23,662,LCA,Saint Lucia,Latin America and the Caribbean,MICS,2012,0.007202,1.501055,NaN,0.325211,0.000000,0.325427,0.709397,0.152276,0.307255,1.103478,0.383556,9,Child mortality
7,400,JOR,Jordan,Arab States,DHS,2017-2018,0.001526,0.175637,0.167731,0.245264,0.244469,0.009403,0.039202,0.057727,0.000000,0.107639,0.033383,10,NaN
73,516,NAM,Namibia,Sub-Saharan Africa,DHS,2013,0.184735,31.336466,3.738906,7.330641,8.095706,38.360582,37.286172,20.889700,36.656897,31.909369,15.914284,10,NaN
87,686,SEN,Senegal,Sub-Saharan Africa,DHS,2019,0.262862,26.815081,5.828751,32.530376,43.878088,46.993851,28.860202,15.726519,25.812155,22.526227,6.075707,10,NaN
39,818,EGY,Egypt,Arab States,DHS,2014,0.019682,3.912896,0.812845,2.864399,3.403865,NaN,0.706924,0.326330,0.053229,0.736992,0.214209,9,Cooking fuel
66,320,GTM,Guatemala,Latin America and the Caribbean,DHS,2014-2015,0.133518,18.985577,2.103575,15.974353,12.065980,27.843192,10.840516,10.474930,10.120378,22.739497,10.925110,10,NaN
42,484,MEX,Mexico,Latin America and the Caribbean,ENSANUT,2016,0.025615,5.233283,NaN,1.324077,0.778597,2.431594,2.161883,1.163711,0.139551,1.432236,1.070969,9,Child mortality
92,24,AGO,Angola,Sub-Saharan Africa,DHS,2015-2016,0.282435,29.269051,6.596673,31.397652,22.914641,39.797891,44.354364,36.907376,43.184752,44.128182,29.476472,10,NaN

In [3]:
world_bank_df = pd.read_csv('World Bank Data.csv')
# The dataset from World Bank has the world poverty which is the traditional income based
world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate', ascending=False)
world_bank_df = world_bank_df.reset_index(drop=True)
world_bank_df

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_20,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent
0,Slovak Republic,2017.0,12.2,NaN,NaN,NaN,2014.0,63.0,0.9,2.4,...,68.2,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Morocco,2013.0,4.8,1.4,15.0,2017.0,2015.0,59.1,1.0,2.8,...,63.7,47.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,St. Lucia,2016.0,25.0,12.2,44.0,2014.0,1999.0,57.6,NaN,NaN,...,60.2,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,West Bank and Gaza,2016.0,29.2,0.8,4.5,2016.0,2015.0,57.1,1.0,2.9,...,61.3,44.4,2011.0,2016.0,-0.9,-0.6,5.5,5.2,11.2,10.9
4,Russian Federation,2018.0,12.9,NaN,NaN,NaN,2017.0,56.3,1.3,3.9,...,61.2,49.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2012.0,2017.0,2.4,1.9,4.4,5.0,8.0,8.8
212,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,New Zealand,NaN,NaN,39.1,71.0,2018.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,Northern Mariana Islands,NaN,NaN,4.0,35.1,2015.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2010.0,2015.0,2.7,4.3,2.3,2.6,4.0,4.9
215,Sint Maarten (Dutch part),NaN,NaN,25.1,58.8,2013.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#read the data from OPHI
national_mpi_df = pd.read_csv('MPI_national.csv')
national_mpi_df

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural
0,KAZ,Kazakhstan,0.000,0.0,33.3,0.000,0.09,33.3
1,SRB,Serbia,0.000,0.1,41.4,0.002,0.50,40.3
2,KGZ,Kyrgyzstan,0.000,0.1,40.2,0.003,0.70,37.1
3,TUN,Tunisia,0.000,0.1,35.6,0.012,3.18,38.7
4,ARM,Armenia,0.001,0.2,33.3,0.001,0.39,36.9
...,...,...,...,...,...,...,...,...
97,CAF,Central African Republic,0.289,58.2,49.7,0.519,89.79,57.8
98,LBR,Liberia,0.290,60.5,48.0,0.481,84.86,56.6
99,SOM,Somalia,0.293,55.9,52.4,0.651,96.92,67.2
100,TCD,Chad,0.351,64.8,54.1,0.609,93.41,65.2
101,SSD,South Sudan,0.459,82.5,55.7,0.591,94.00,62.8

In [5]:
def createNewMpiCalculatedColumn(weightList, df, columnName):
    """Returns the percentage match of the poverty rankings between the two sets of data selected.
    :weightList: 
    :df: a dataframe with poverty data obtained by the survey data of world bank.
    :columnName: The column Whose weight is.
    :return: the column that has been manipulated.
    >>> primary_df = {"Country Numeric Code": ['360'], "Country Code": ['IDN'], "Country": ['Indonesia'], "World Region": ['East Asia and the Pacific'], "Survey": ['DHS'], "Year": ['2017'], "Multidimensional Poverty Index (MPI)": ['0.014011'],"Nutrition":['NaN'],"Child mortality":['1.460288'], "Years of schooling": ['1.551531'], "School attendance": ['0.69869'], "Cooking fuel": ['2.379687'],"Sanitation": ['2.181947'], "Drinking water": ['1.350654'], "Electricity": ['0.770641'],"Housing":['1.309179'],"Assets":['1.71485'],"Total number of indicators included":['9'],"New MPI":['NaN']}
    >>> df = {"Country": ['Indonesia'], "Population_Below_Poverty_National_Year": ['2018.0'], " Population_Below_Poverty_National": ['9.8'], " Population_Below_Poverty_Rural": ['1.7'], " Population_Below_Poverty_Urban": [’14.8'], " Poverty_Gap_Year ": ['2012.0'], " Reference_Year": ['2012.0']," World_Bank_Estimate":['29.5']," Income_Lowest_10":['3.7'], " Income_Lowest_20": ['8.8'], " Income_Highest_10": ['23.7'], " Baseline_Year": ['2014.0']," Recent_Year": ['2017.0'], " Annualized_Growth_Bottom_40": ['-0.1], " Annualized_Growth_Total_Population": ['1.9']," Mean_Consumption_Bottom_40_Baseline":['6.6']," Mean_Consumption_Bottom_40_Most_Recent":['6.6']," Mean_Consumption_Total_Population_Baseline ":['15.4']," Mean_Consumption_Total_Population_Most_Recent ":['16.2'], 10% Difference":['20.0']}    >>> getDifferenceInPovertyIn2DFs(primary_df, df, code_or_name_comparision)
    33.33
    >>> columnName: 'New MPI'
    """
    df[columnName] = ((df['Nutrition']*weightList[0]) + (df['Child mortality']*weightList[1]) + 
                      (df['Years of schooling']*weightList[2]) + (df['School attendance']*weightList[3]) +
                      (df['Cooking fuel']*weightList[4]) + (df['Sanitation']*weightList[5]) +
                      (df['Drinking water']*weightList[6]) + (df['Electricity']*weightList[7]) +
                      (df['Housing']*weightList[8]) + (df['Assets']*weightList[9]))/10
    return df[columnName]

In [6]:
def getDifferenceInPovertyIn2DFs(primary_df, df, code_or_name_comparision):
    """Returns the percentage match of the poverty rankings between the two sets of data selected.
    :primary_df: a dataframe consisting poverty data calculated using MPI.
    :df: a dataframe with poverty data obtained by the survey data of world bank.
    :code_or_name_comparision: a variable that stores the country code or the country name used for comparison.
    :return: a value indicating the percentage match 
    >>> primary_df = {"Country Numeric Code": ['360'], "Country Code": ['IDN'], "Country": ['Indonesia'], "World Region": ['East Asia and the Pacific'], "Survey": ['DHS'], "Year": ['2017'], "Multidimensional Poverty Index (MPI)": ['0.014011'],"Nutrition":['NaN'],"Child mortality":['1.460288'], "Years of schooling": ['1.551531'], "School attendance": ['0.69869'], "Cooking fuel": ['2.379687'],"Sanitation": ['2.181947'], "Drinking water": ['1.350654'], "Electricity": ['0.770641'],"Housing":['1.309179'],"Assets":['1.71485'],"Total number of indicators included":['9'],"New MPI":['NaN']}
    >>> code_or_name_comparision = 'Indonesia'
    >>> df = {"Country": ['Indonesia'], "Population_Below_Poverty_National_Year": ['2018.0'], " Population_Below_Poverty_National": ['9.8'], " Population_Below_Poverty_Rural": ['1.7'], " Population_Below_Poverty_Urban": [’14.8'], " Poverty_Gap_Year ": ['2012.0'], " Reference_Year": ['2012.0']," World_Bank_Estimate":['29.5']," Income_Lowest_10":['3.7'], " Income_Lowest_20": ['8.8'], " Income_Highest_10": ['23.7'], " Baseline_Year": ['2014.0']," Recent_Year": ['2017.0'], " Annualized_Growth_Bottom_40": ['-0.1], " Annualized_Growth_Total_Population": ['1.9']," Mean_Consumption_Bottom_40_Baseline":['6.6']," Mean_Consumption_Bottom_40_Most_Recent":['6.6']," Mean_Consumption_Total_Population_Baseline ":['15.4']," Mean_Consumption_Total_Population_Most_Recent ":['16.2'], 10% Difference":['20.0']}    >>> getDifferenceInPovertyIn2DFs(primary_df, df, code_or_name_comparision)
    33.33
    """
    print(primary_df, df, code_or_name_comparision)
    number_of_matches = 0
    for i in range(len(df)):
        for j in range(len(df)):
            if code_or_name_comparision == 'Code':
                if df['ISO'][j] == primary_df['Country Code'][i]:
                    print(df['Country'][i])
                    number_of_matches += 1
                    continue
            elif code_or_name_comparision == 'CountryName':
                if df['Country'][j] == primary_df['Country'][i]:
                    print(df['Country'][i])
                    number_of_matches += 1
                    continue
            
    return ((number_of_matches/len(df))*100)

The MPI list will be altered by changing the weight of the facators involved in the MPI. The list from the weighted factors of MPI that matches with the world bank poevrty data with highest accuracy will be taken as the new MPI based dataset.

In [7]:
weights = [0.06, 0.06, 0.16, 0.06, 0.06, 0.06, 0.16, 0.16, 0.16, 0.06]
new_column_name = 'New MPI'
new_df = mpi_df.loc[:, mpi_df.columns != "Indicator (s) missing"]
new_df[new_column_name] = createNewMpiCalculatedColumn(weights, new_df, new_column_name)
new_df = new_df.sort_values(by = 'New MPI')
new_df = new_df.reset_index(drop=True)
new_df

,Country Numeric Code,Country Code,Country,World Region,Survey,Year,Multidimensional Poverty Index (MPI),Nutrition,Child mortality,Years of schooling,School attendance,Cooking fuel,Sanitation,Drinking water,Electricity,Housing,Assets,Total number of indicators included,New MPI
0,688,SRB,Serbia,Europe and Central Asia,MICS,2019,0.000433,0.023019,0.057378,0.054523,0.049654,0.100292,0.030504,0.024812,0.007462,0.046886,0.015927,10,0.003800
1,51,ARM,Armenia,Europe and Central Asia,DHS,2015-2016,0.000690,0.137095,0.000000,0.023653,0.128609,0.072571,0.190553,0.038291,0.000000,0.023653,0.048983,10,0.004836
2,398,KAZ,Kazakhstan,Europe and Central Asia,MICS,2015,0.001611,0.451137,0.422889,0.001840,0.028248,0.030088,0.000000,0.060462,0.001840,0.092562,0.001840,10,0.008112
3,417,KGZ,Kyrgyzstan,Europe and Central Asia,MICS,2018,0.001426,0.393031,0.159708,0.039468,0.113286,0.264173,0.052981,0.096483,0.000000,0.036623,0.000000,10,0.008660
4,275,PSE,"Palestine, State of",Arab States,MICS,2019-2020,0.001980,0.496145,0.251218,0.043423,0.324919,0.033550,0.094957,0.024368,0.000000,0.051991,0.012183,10,0.009194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,484,MEX,Mexico,Latin America and the Caribbean,ENSANUT,2016,0.025615,5.233283,NaN,1.324077,0.778597,2.431594,2.161883,1.163711,0.139551,1.432236,1.070969,9,NaN
105,426,LSO,Lesotho,Sub-Saharan Africa,MICS,2018,0.084359,9.584669,1.484473,5.519687,3.659291,NaN,14.803903,11.618516,18.364160,15.892954,15.238950,9,NaN
106,340,HND,Honduras,Latin America and the Caribbean,DHS,2011-2012,0.093057,9.923804,0.958571,10.231574,7.900505,19.154258,14.553490,7.022158,NaN,18.460836,7.858169,9,NaN
107,598,PNG,Papua New Guinea,East Asia and the Pacific,DHS,2016-2018,0.263291,NaN,3.637692,19.493614,27.990497,56.262477,50.799519,44.926346,55.261831,52.695402,49.699559,9,NaN
108,4,AFG,Afghanistan,South Asia,DHS,2015-2016,0.271721,NaN,8.159285,31.381973,41.964449,49.259972,48.714027,30.120814,23.675098,54.479075,13.854264,9,NaN

In [8]:
#print(world_bank_df.loc[world_bank_df['Country'] == 'Indonesia'])
print(getDifferenceInPovertyIn2DFs(new_df.head(75), world_bank_df.head(75), 'CountryName'), "% match between MPI index and income based ratings")

    Country Numeric Code Country Code              Country  \
0                    688          SRB               Serbia
1                     51          ARM              Armenia
2                    398          KAZ           Kazakhstan
3                    417          KGZ           Kyrgyzstan
4                    275          PSE  Palestine, State of
..                   ...          ...                  ...
70                   834          TZA             Tanzania
71                   646          RWA               Rwanda
72                   694          SLE         Sierra Leone
73                   800          UGA               Uganda
74                   324          GIN               Guinea

               World Region Survey        Year  \
0   Europe and Central Asia    MICS       2019
1   Europe and Central Asia     DHS  2015-2016
2   Europe and Central Asia    MICS       2015
3   Europe and Central Asia    MICS       2018
4               Arab States    MICS  2019-2020
..                      ...     ...        ...
70       Sub-Saharan Africa     DHS  2015-2016
71       Sub-Saharan Africa     DHS  2014-2015
72       Sub-Saharan Africa     DHS       2019
73       Sub-Saharan Africa     DHS       2016
74       Sub-Saharan Africa     DHS       2018

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.001611   0.451137         0.422889
3                               0.001426   0.393031         0.159708
4                               0.001980   0.496145         0.251218
..                                   ...        ...              ...
70                              0.284179  32.512709         5.872058
71                              0.258596  17.703079         3.413746
72                              0.292899  30.726640         9.640463
73                              0.281028  35.070357         5.349463
74                              0.373222  35.730495        12.085804

    Years of schooling  School attendance  Cooking fuel  Sanitation  \
0             0.054523           0.049654      0.100292    0.030504
1             0.023653           0.128609      0.072571    0.190553
2             0.001840           0.028248      0.030088    0.000000
3             0.039468           0.113286      0.264173    0.052981
4             0.043423           0.324919      0.033550    0.094957
..                 ...                ...           ...         ...
70           12.273260          25.685213     56.878950   53.604870
71           36.716262          10.631091     54.286900   28.286639
72           26.885558          15.384316     59.090962   54.115207
73           22.566895          13.815434     56.841952   50.372663
74           46.079382          39.862135     65.740262   55.429758

    Drinking water  Electricity    Housing     Assets  \
0         0.024812     0.007462   0.046886   0.015927
1         0.038291     0.000000   0.023653   0.048983
2         0.060462     0.001840   0.092562   0.001840
3         0.096483     0.000000   0.036623   0.000000
4         0.024368     0.000000   0.051991   0.012183
..             ...          ...        ...        ...
70       43.341037    55.140911  47.374968  26.152301
71       38.802371    50.001974  51.465069  37.237113
72       35.735349    54.996996  40.159611  35.209698
73       41.927297    50.228135  49.701350  26.373418
74       36.967949    48.999944  39.208231  24.179349

    Total number of indicators included    New MPI
0                                     10  0.003800
1                                     10  0.004836
2                                     10  0.008112
3                                     10  0.008660
4                                     10  0.009194
..                                   ...       ...
70                                    10  3.734319
71                                    10  3.741122
72                                    10  3.749444
73                                    10  3.757719
74                                    10  4.138255

[75 rows x 19 columns]                Country  Population_Below_Poverty_National_Year  \
0      Slovak Republic                                  2017.0
1              Morocco                                  2013.0
2            St. Lucia                                  2016.0
3   West Bank and Gaza                                  2016.0
4   Russian Federation                                  2018.0
..                 ...                                     ...
70   Equatorial Guinea                                  2006.0
71        Burkina Faso                                  2018.0
72               Chile                                  2017.0
73               Gabon                                  2017.0
74             Iceland                                  2016.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                12.2                             NaN
1                                 4.8                             1.4
2                                25.0                            12.2
3                                29.2                             0.8
4                                12.9                             NaN
..                                ...                             ...
70                               76.8                             NaN
71                               41.4                            72.8
72                                8.6                             0.5
73                               33.4                             4.5
74                               10.1                             3.6

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              NaN               NaN          2014.0
1                             15.0            2017.0          2015.0
2                             44.0            2014.0          1999.0
3                              4.5            2016.0          2015.0
4                              NaN               NaN          2017.0
..                             ...               ...             ...
70                             NaN               NaN          2018.0
71                            89.6            2013.0          2013.0
72                             5.4            2016.0          2016.0
73                            15.5            2018.0          2017.0
74                            21.5            2018.0          2018.0

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  63.0               0.9               2.4  ...
1                  59.1               1.0               2.8  ...
2                  57.6               NaN               NaN  ...
3                  57.1               1.0               2.9  ...
4                  56.3               1.3               3.9  ...
..                  ...               ...               ...  ...
70                 38.6               2.4               6.2  ...
71                 38.6               2.8               6.9  ...
72                 38.5               2.7               6.5  ...
73                 38.0               2.2               6.0  ...
74                 37.8               2.9               6.9  ...

    Income_Highest_20  Income_Highest_10  Baseline_Year  Recent_Year  \
0                68.2               50.5            NaN          NaN
1                63.7               47.3            NaN          NaN
2                60.2               42.7            NaN          NaN
3                61.3               44.4         2011.0       2016.0
4                61.2               49.1            NaN          NaN
..                ...                ...            ...          ...
70               45.3               29.4         2013.0       2018.0
71               46.3               31.0            NaN          NaN
72               45.3               29.4         2013.0       2016.0
73               44.4               27.7            NaN          NaN
74               44.9               29.3         2004.0       2011.0

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                           NaN                                 NaN
1                           NaN                                 NaN
2                           NaN                                 NaN
3                          -0.9                                -0.6
4                           NaN                                 NaN
..                          ...                                 ...
70                          4.0                                 1.8
71                          NaN                                 NaN
72                          8.4                                 7.1
73                          NaN                                 NaN
74                          3.2                                 3.7

    Mean_Consumption_Bottom_40_Baseline  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   5.5
4                                   NaN
..                                  ...
70                                  3.8
71                                  NaN
72                                  3.9
73                                  NaN
74                                  1.4

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      5.2
4                                      NaN
..                                     ...
70                                     4.7
71                                     NaN
72                                     5.0
73                                     NaN
74                                     1.8

    Mean_Consumption_Total_Population_Baseline  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                         11.2
4                                          NaN
..                                         ...
70                                        10.0
71                                         NaN
72                                         9.5
73                                         NaN
74                                         2.8

    Mean_Consumption_Total_Population_Most_Recent
0                                             NaN
1                                             NaN
2                                             NaN
3                                            10.9
4                                             NaN
..                                            ...
70                                           10.9
71                                            NaN
72                                           11.6
73                                            NaN
74                                            3.6

[75 rows x 23 columns] CountryName
St. Martin (French part)
Mongolia
Haiti
South Sudan
Norway
Cote d'Ivoire
Sao Tome and Principe
Cabo Verde
Egypt, Arab Rep.
Congo, Dem. Rep.
Guinea-Bissau
Panama
Channel Islands
Yemen, Rep.
Ecuador
Turkmenistan
Luxembourg
Tonga
Argentina
Brunei Darussalam
Somalia
Monaco
Ireland
Equatorial Guinea
Iceland
33.33333333333333 % match between MPI index and income based ratings

The world bank poverty list is compared with the MPI data without changing the weights of the factor. As seen above, only 22% of the countries matched in the top 25 countries.

In [9]:
weights = [0.05, 0.02, 0.25, 0.03, 0.02, 0.03, 0.25, 0.25, 0.02, 0.03]
new_df['New MPI'] = createNewMpiCalculatedColumn(weights, new_df, new_column_name)
new_df = new_df.sort_values(by = 'New MPI')
new_df = new_df.reset_index(drop=True)

print("Weights being tested: ", weights)
print(getDifferenceInPovertyIn2DFs(new_df.head(75), world_bank_df.head(75), 'CountryName'), "% match between MPI index and income based ratings")
print()

weights = [0.45, 0.45, 0.01, 0.01, 0.01, 0.02, 0.01, 0.01, 0.02, 0.01]
new_df['New MPI'] = createNewMpiCalculatedColumn(weights, new_df, new_column_name)
new_df = new_df.sort_values(by = 'New MPI')
new_df = new_df.reset_index(drop=True)

print("Weights being tested: ", weights)
print(getDifferenceInPovertyIn2DFs(new_df.head(75), world_bank_df.head(75), 'CountryName'), "% match between MPI index and income based ratings")

Weights being tested:  [0.05, 0.02, 0.25, 0.03, 0.02, 0.03, 0.25, 0.25, 0.02, 0.03]
    Country Numeric Code Country Code              Country  \
0                    688          SRB               Serbia
1                     51          ARM              Armenia
2                    398          KAZ           Kazakhstan
3                    275          PSE  Palestine, State of
4                    417          KGZ           Kyrgyzstan
..                   ...          ...                  ...
70                   834          TZA             Tanzania
71                   800          UGA               Uganda
72                   694          SLE         Sierra Leone
73                   646          RWA               Rwanda
74                   624          GNB        Guinea-Bissau

               World Region Survey        Year  \
0   Europe and Central Asia    MICS       2019
1   Europe and Central Asia     DHS  2015-2016
2   Europe and Central Asia    MICS       2015
3               Arab States    MICS  2019-2020
4   Europe and Central Asia    MICS       2018
..                      ...     ...        ...
70       Sub-Saharan Africa     DHS  2015-2016
71       Sub-Saharan Africa     DHS       2016
72       Sub-Saharan Africa     DHS       2019
73       Sub-Saharan Africa     DHS  2014-2015
74       Sub-Saharan Africa    MICS  2018-2019

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.001611   0.451137         0.422889
3                               0.001980   0.496145         0.251218
4                               0.001426   0.393031         0.159708
..                                   ...        ...              ...
70                              0.284179  32.512709         5.872058
71                              0.281028  35.070357         5.349463
72                              0.292899  30.726640         9.640463
73                              0.258596  17.703079         3.413746
74                              0.340689  32.207823         6.935132

    Years of schooling  School attendance  Cooking fuel  Sanitation  \
0             0.054523           0.049654      0.100292    0.030504
1             0.023653           0.128609      0.072571    0.190553
2             0.001840           0.028248      0.030088    0.000000
3             0.043423           0.324919      0.033550    0.094957
4             0.039468           0.113286      0.264173    0.052981
..                 ...                ...           ...         ...
70           12.273260          25.685213     56.878950   53.604870
71           22.566895          13.815434     56.841952   50.372663
72           26.885558          15.384316     59.090962   54.115207
73           36.716262          10.631091     54.286900   28.286639
74           40.830073          30.727582     64.203512   61.228049

    Drinking water  Electricity    Housing     Assets  \
0         0.024812     0.007462   0.046886   0.015927
1         0.038291     0.000000   0.023653   0.048983
2         0.060462     0.001840   0.092562   0.001840
3         0.024368     0.000000   0.051991   0.012183
4         0.096483     0.000000   0.036623   0.000000
..             ...          ...        ...        ...
70       43.341037    55.140911  47.374968  26.152301
71       41.927297    50.228135  49.701350  26.373418
72       35.735349    54.996996  40.159611  35.209698
73       38.802371    50.001974  51.465069  37.237113
74       33.986446    45.444936  63.509134  12.765794

    Total number of indicators included    New MPI
0                                     10  0.002982
1                                     10  0.003531
2                                     10  0.005041
3                                     10  0.006145
4                                     10  0.006784
..                                   ...       ...
70                                    10  3.468023
71                                    10  3.538880
72                                    10  3.625991
73                                    10  3.673327
74                                    10  3.751035

[75 rows x 19 columns]                Country  Population_Below_Poverty_National_Year  \
0      Slovak Republic                                  2017.0
1              Morocco                                  2013.0
2            St. Lucia                                  2016.0
3   West Bank and Gaza                                  2016.0
4   Russian Federation                                  2018.0
..                 ...                                     ...
70   Equatorial Guinea                                  2006.0
71        Burkina Faso                                  2018.0
72               Chile                                  2017.0
73               Gabon                                  2017.0
74             Iceland                                  2016.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                12.2                             NaN
1                                 4.8                             1.4
2                                25.0                            12.2
3                                29.2                             0.8
4                                12.9                             NaN
..                                ...                             ...
70                               76.8                             NaN
71                               41.4                            72.8
72                                8.6                             0.5
73                               33.4                             4.5
74                               10.1                             3.6

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              NaN               NaN          2014.0
1                             15.0            2017.0          2015.0
2                             44.0            2014.0          1999.0
3                              4.5            2016.0          2015.0
4                              NaN               NaN          2017.0
..                             ...               ...             ...
70                             NaN               NaN          2018.0
71                            89.6            2013.0          2013.0
72                             5.4            2016.0          2016.0
73                            15.5            2018.0          2017.0
74                            21.5            2018.0          2018.0

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  63.0               0.9               2.4  ...
1                  59.1               1.0               2.8  ...
2                  57.6               NaN               NaN  ...
3                  57.1               1.0               2.9  ...
4                  56.3               1.3               3.9  ...
..                  ...               ...               ...  ...
70                 38.6               2.4               6.2  ...
71                 38.6               2.8               6.9  ...
72                 38.5               2.7               6.5  ...
73                 38.0               2.2               6.0  ...
74                 37.8               2.9               6.9  ...

    Income_Highest_20  Income_Highest_10  Baseline_Year  Recent_Year  \
0                68.2               50.5            NaN          NaN
1                63.7               47.3            NaN          NaN
2                60.2               42.7            NaN          NaN
3                61.3               44.4         2011.0       2016.0
4                61.2               49.1            NaN          NaN
..                ...                ...            ...          ...
70               45.3               29.4         2013.0       2018.0
71               46.3               31.0            NaN          NaN
72               45.3               29.4         2013.0       2016.0
73               44.4               27.7            NaN          NaN
74               44.9               29.3         2004.0       2011.0

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                           NaN                                 NaN
1                           NaN                                 NaN
2                           NaN                                 NaN
3                          -0.9                                -0.6
4                           NaN                                 NaN
..                          ...                                 ...
70                          4.0                                 1.8
71                          NaN                                 NaN
72                          8.4                                 7.1
73                          NaN                                 NaN
74                          3.2                                 3.7

    Mean_Consumption_Bottom_40_Baseline  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   5.5
4                                   NaN
..                                  ...
70                                  3.8
71                                  NaN
72                                  3.9
73                                  NaN
74                                  1.4

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      5.2
4                                      NaN
..                                     ...
70                                     4.7
71                                     NaN
72                                     5.0
73                                     NaN
74                                     1.8

    Mean_Consumption_Total_Population_Baseline  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                         11.2
4                                          NaN
..                                         ...
70                                        10.0
71                                         NaN
72                                         9.5
73                                         NaN
74                                         2.8

    Mean_Consumption_Total_Population_Most_Recent
0                                             NaN
1                                             NaN
2                                             NaN
3                                            10.9
4                                             NaN
..                                            ...
70                                           10.9
71                                            NaN
72                                           11.6
73                                            NaN
74                                            3.6

[75 rows x 23 columns] CountryName
Mongolia
Brazil
Botswana
Haiti
Norway
Cote d'Ivoire
Sao Tome and Principe
Cabo Verde
Egypt, Arab Rep.
Congo, Dem. Rep.
Guinea-Bissau
Panama
Channel Islands
Yemen, Rep.
Ecuador
Central African Republic
Luxembourg
Tonga
Croatia
Samoa
Somalia
Monaco
Qatar
Equatorial Guinea
Iceland
33.33333333333333 % match between MPI index and income based ratings

Weights being tested:  [0.45, 0.45, 0.01, 0.01, 0.01, 0.02, 0.01, 0.01, 0.02, 0.01]
    Country Numeric Code Country Code          Country  \
0                    688          SRB           Serbia
1                     51          ARM          Armenia
2                    192          CUB             Cuba
3                    807          MKD  North Macedonia
4                    498          MDA          Moldova
..                   ...          ...              ...
70                   834          TZA         Tanzania
71                   450          MDG       Madagascar
72                   887          YEM            Yemen
73                   800          UGA           Uganda
74                   694          SLE     Sierra Leone

                       World Region Survey        Year  \
0           Europe and Central Asia    MICS       2019
1           Europe and Central Asia     DHS  2015-2016
2   Latin America and the Caribbean    MICS       2019
3           Europe and Central Asia    MICS  2018-2019
4           Europe and Central Asia    MICS       2012
..                              ...     ...        ...
70               Sub-Saharan Africa     DHS  2015-2016
71               Sub-Saharan Africa    MICS       2018
72                      Arab States     DHS       2013
73               Sub-Saharan Africa     DHS       2016
74               Sub-Saharan Africa     DHS       2019

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.002689   0.103989         0.058942
3                               0.001422   0.049057         0.203836
4                               0.003534   0.194721         0.000000
..                                   ...        ...              ...
70                              0.284179  32.512709         5.872058
71                              0.383974  30.476554         5.211131
72                              0.245166  37.854219         4.735888
73                              0.281028  35.070357         5.349463
74                              0.292899  30.726640         9.640463

    Years of schooling  School attendance  Cooking fuel  Sanitation  \
0             0.054523           0.049654      0.100292    0.030504
1             0.023653           0.128609      0.072571    0.190553
2             0.521477           0.121043      0.392816    0.521832
3             0.322799           0.126076      0.187670    0.094954
4             0.694186           0.204435      0.604277    0.721445
..                 ...                ...           ...         ...
70           12.273260          25.685213     56.878950   53.604870
71           49.365753          26.797507     68.906044   68.244063
72           17.170511          27.569701     29.517608   37.162085
73           22.566895          13.815434     56.841952   50.372663
74           26.885558          15.384316     59.090962   54.115207

    Drinking water  Electricity    Housing     Assets  \
0         0.024812     0.007462   0.046886   0.015927
1         0.038291     0.000000   0.023653   0.048983
2         0.192338     0.048238   0.662197   0.605894
3         0.004192     0.079785   0.000000   0.087804
4         0.583815     0.055277   0.552623   0.563566
..             ...          ...        ...        ...
70       43.341037    55.140911  47.374968  26.152301
71       52.836509    55.097934  61.613220  48.903415
72       29.856679    19.832773  45.798261  17.141268
73       41.927297    50.228135  49.701350  26.373418
74       35.735349    54.996996  40.159611  35.209698

    Total number of indicators included    New MPI
0                                     10  0.004025
1                                     10  0.006910
2                                     10  0.011582
3                                     10  0.012378
4                                     10  0.014016
..                                   ...       ...
70                                    10  2.148746
71                                    10  2.167568
72                                    10  2.223564
73                                    10  2.230793
74                                    10  2.232372

[75 rows x 19 columns]                Country  Population_Below_Poverty_National_Year  \
0      Slovak Republic                                  2017.0
1              Morocco                                  2013.0
2            St. Lucia                                  2016.0
3   West Bank and Gaza                                  2016.0
4   Russian Federation                                  2018.0
..                 ...                                     ...
70   Equatorial Guinea                                  2006.0
71        Burkina Faso                                  2018.0
72               Chile                                  2017.0
73               Gabon                                  2017.0
74             Iceland                                  2016.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                12.2                             NaN
1                                 4.8                             1.4
2                                25.0                            12.2
3                                29.2                             0.8
4                                12.9                             NaN
..                                ...                             ...
70                               76.8                             NaN
71                               41.4                            72.8
72                                8.6                             0.5
73                               33.4                             4.5
74                               10.1                             3.6

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              NaN               NaN          2014.0
1                             15.0            2017.0          2015.0
2                             44.0            2014.0          1999.0
3                              4.5            2016.0          2015.0
4                              NaN               NaN          2017.0
..                             ...               ...             ...
70                             NaN               NaN          2018.0
71                            89.6            2013.0          2013.0
72                             5.4            2016.0          2016.0
73                            15.5            2018.0          2017.0
74                            21.5            2018.0          2018.0

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  63.0               0.9               2.4  ...
1                  59.1               1.0               2.8  ...
2                  57.6               NaN               NaN  ...
3                  57.1               1.0               2.9  ...
4                  56.3               1.3               3.9  ...
..                  ...               ...               ...  ...
70                 38.6               2.4               6.2  ...
71                 38.6               2.8               6.9  ...
72                 38.5               2.7               6.5  ...
73                 38.0               2.2               6.0  ...
74                 37.8               2.9               6.9  ...

    Income_Highest_20  Income_Highest_10  Baseline_Year  Recent_Year  \
0                68.2               50.5            NaN          NaN
1                63.7               47.3            NaN          NaN
2                60.2               42.7            NaN          NaN
3                61.3               44.4         2011.0       2016.0
4                61.2               49.1            NaN          NaN
..                ...                ...            ...          ...
70               45.3               29.4         2013.0       2018.0
71               46.3               31.0            NaN          NaN
72               45.3               29.4         2013.0       2016.0
73               44.4               27.7            NaN          NaN
74               44.9               29.3         2004.0       2011.0

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                           NaN                                 NaN
1                           NaN                                 NaN
2                           NaN                                 NaN
3                          -0.9                                -0.6
4                           NaN                                 NaN
..                          ...                                 ...
70                          4.0                                 1.8
71                          NaN                                 NaN
72                          8.4                                 7.1
73                          NaN                                 NaN
74                          3.2                                 3.7

    Mean_Consumption_Bottom_40_Baseline  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   5.5
4                                   NaN
..                                  ...
70                                  3.8
71                                  NaN
72                                  3.9
73                                  NaN
74                                  1.4

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      5.2
4                                      NaN
..                                     ...
70                                     4.7
71                                     NaN
72                                     5.0
73                                     NaN
74                                     1.8

    Mean_Consumption_Total_Population_Baseline  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                         11.2
4                                          NaN
..                                         ...
70                                        10.0
71                                         NaN
72                                         9.5
73                                         NaN
74                                         2.8

    Mean_Consumption_Total_Population_Most_Recent
0                                             NaN
1                                             NaN
2                                             NaN
3                                            10.9
4                                             NaN
..                                            ...
70                                           10.9
71                                            NaN
72                                           11.6
73                                            NaN
74                                            3.6

[75 rows x 23 columns] CountryName
West Bank and Gaza
Russian Federation
Cayman Islands
Haiti
South Sudan
Costa Rica
Pakistan
Nepal
Israel
Egypt, Arab Rep.
Marshall Islands
Latvia
Yemen, Rep.
Puerto Rico
Ghana
Turkmenistan
Tonga
Dominica
Argentina
Jordan
Samoa
Monaco
Ireland
Equatorial Guinea
32.0 % match between MPI index and income based ratings

The weights nutrition=0.24, child mortality=0.24, years of schooling=0.24, school attendence=0.24, cooking fuel=0.05, sanitation=0.05, drinking water=0.01, electricity=0.01, housing=0.01, assets=0.01 gave the higest accuracy of 33.33% after testing it multiple combinations (only 3 of which is shown above). The country ranking list obtained with this weights will be used to test the hypothesis.

In [10]:
weights = [0.05, 0.02, 0.25, 0.03, 0.02, 0.03, 0.25, 0.25, 0.02, 0.03]
new_df['New MPI'] = createNewMpiCalculatedColumn(weights, new_df, new_column_name)
new_df = new_df.sort_values(by = 'New MPI')
new_df = new_df.reset_index(drop=True)

# Hypothesis 1

The MPI urban and MPI rural are accurate indicators of the poverty levels (can verify by comparing it with the % population listed below poverty level)

In [11]:
urban_sorted_df = national_mpi_df.sort_values(by = 'MPI Urban')
urban_sorted_df = urban_sorted_df.reset_index(drop=True)
print("Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:")
urban_matching_percent = getDifferenceInPovertyIn2DFs(new_df.head(25), urban_sorted_df.head(25), 'Code')
print()
print(urban_matching_percent, "% match between MPI Urban levels and weighted MPI levels")

Countries matching between the comparisons of MPI Urban levels and weighted MPI levels:
    Country Numeric Code Country Code              Country  \
0                    688          SRB               Serbia
1                     51          ARM              Armenia
2                    398          KAZ           Kazakhstan
3                    275          PSE  Palestine, State of
4                    417          KGZ           Kyrgyzstan
5                    268          GEO              Georgia
6                    462          MDV             Maldives
7                    400          JOR               Jordan
8                    807          MKD      North Macedonia
9                    776          TON                Tonga
10                   764          THA             Thailand
11                   780          TTO  Trinidad and Tobago
12                   499          MNE           Montenegro
13                     8          ALB              Albania
14                   192          CUB                 Cuba
15                   788          TUN              Tunisia
16                   498          MDA              Moldova
17                    12          DZA              Algeria
18                   434          LBY                Libya
19                   328          GUY               Guyana
20                   144          LKA            Sri Lanka
21                   740          SUR             Suriname
22                    84          BLZ               Belize
23                   218          ECU              Ecuador
24                   762          TJK           Tajikistan

                       World Region Survey        Year  \
0           Europe and Central Asia    MICS       2019
1           Europe and Central Asia     DHS  2015-2016
2           Europe and Central Asia    MICS       2015
3                       Arab States    MICS  2019-2020
4           Europe and Central Asia    MICS       2018
5           Europe and Central Asia    MICS       2018
6                        South Asia     DHS  2016-2017
7                       Arab States     DHS  2017-2018
8           Europe and Central Asia    MICS  2018-2019
9         East Asia and the Pacific    MICS       2019
10        East Asia and the Pacific    MICS       2019
11  Latin America and the Caribbean    MICS       2011
12          Europe and Central Asia    MICS       2018
13          Europe and Central Asia     DHS  2017-2018
14  Latin America and the Caribbean    MICS       2019
15                      Arab States    MICS       2018
16          Europe and Central Asia    MICS       2012
17                      Arab States    MICS  2018-2019
18                      Arab States  PAPFAM       2014
19  Latin America and the Caribbean    MICS  2019-2020
20                       South Asia   SLDHS       2016
21  Latin America and the Caribbean    MICS       2018
22  Latin America and the Caribbean    MICS  2015-2016
23  Latin America and the Caribbean     ECV  2013-2014
24          Europe and Central Asia     DHS       2017

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.001611   0.451137         0.422889
3                               0.001980   0.496145         0.251218
4                               0.001426   0.393031         0.159708
5                               0.001245   0.093509         0.258537
6                               0.002654   0.736742         0.548289
7                               0.001526   0.175637         0.167731
8                               0.001422   0.049057         0.203836
9                               0.003336   0.304146         0.460735
10                              0.002121   0.337760         0.149112
11                              0.002418   0.258042         0.401916
12                              0.004899   0.953874         0.764634
13                              0.002748   0.463513         0.002417
14                              0.002689   0.103989         0.058942
15                              0.002888   0.365131         0.057891
16                              0.003534   0.194721         0.000000
17                              0.005409   0.785930         0.227118
18                              0.007421   1.518369         0.218035
19                              0.006592   0.967674         0.188593
20                              0.011185   2.031289         0.151074
21                              0.011232   1.008872         0.363792
22                              0.017109   3.195030         0.859584
23                              0.018254   2.944287         1.484279
24                              0.029006   6.220992         2.090680

    Years of schooling  School attendance  Cooking fuel  Sanitation  \
0             0.054523           0.049654      0.100292    0.030504
1             0.023653           0.128609      0.072571    0.190553
2             0.001840           0.028248      0.030088    0.000000
3             0.043423           0.324919      0.033550    0.094957
4             0.039468           0.113286      0.264173    0.052981
5             0.045744           0.131714      0.173111    0.151607
6             0.077987           0.162975      0.028416    0.017985
7             0.245264           0.244469      0.009403    0.039202
8             0.322799           0.126076      0.187670    0.094954
9             0.134528           0.680226      0.256515    0.127915
10            0.403154           0.170323      0.281824    0.079395
11            0.325322           0.168309      0.010478    0.081873
12            0.343557           0.312475      1.114433    0.173086
13            0.515700           0.392001      0.285011    0.143701
14            0.521477           0.121043      0.392816    0.521832
15            0.689426           0.377329      0.020881    0.235216
16            0.694186           0.204435      0.604277    0.721445
17            0.961048           0.639003      0.127189    0.616226
18            1.294226           0.868472      0.023327    0.323175
19            0.528961           0.381860      0.854623    0.678723
20            0.972291           0.667991      2.681250    1.393136
21            1.886028           1.067213      1.135456    1.825292
22            0.669085           1.480604      3.105453    2.034716
23            1.623347           0.966278      1.711376    2.854766
24            0.123214           4.482660      3.461746    0.317994

    Drinking water  Electricity   Housing    Assets  \
0         0.024812     0.007462  0.046886  0.015927
1         0.038291     0.000000  0.023653  0.048983
2         0.060462     0.001840  0.092562  0.001840
3         0.024368     0.000000  0.051991  0.012183
4         0.096483     0.000000  0.036623  0.000000
5         0.119599     0.003167  0.159053  0.045233
6         0.029303     0.005486  0.112716  0.005486
7         0.057727     0.000000  0.107639  0.033383
8         0.004192     0.079785  0.000000  0.087804
9         0.053358     0.057302  0.704978  0.066105
10        0.033739     0.028795  0.102842  0.109586
11        0.079379     0.234574  0.316121  0.169075
12        0.014167     0.049835  0.293551  0.049325
13        0.208050     0.000000  0.139252  0.049275
14        0.192338     0.048238  0.662197  0.605894
15        0.211729     0.038419  0.074609  0.147734
16        0.583815     0.055277  0.552623  0.563566
17        0.413188     0.165406  0.442450  0.132613
18        0.846756     0.046404  0.388273  0.033393
19        0.567458     1.044709  1.376074  1.143382
20        1.249193     0.740628  1.462285  1.138028
21        0.459928     0.938484  1.243672  1.637899
22        0.699909     2.464128  2.849148  1.029637
23        2.471513     0.708893  2.378183  1.677460
24        3.588403     0.099835  5.678573  0.311474

    Total number of indicators included    New MPI
0                                     10  0.002982
1                                     10  0.003531
2                                     10  0.005041
3                                     10  0.006145
4                                     10  0.006784
5                                     10  0.006847
6                                     10  0.008441
7                                     10  0.009974
8                                     10  0.012124
9                                     10  0.013118
10                                    10  0.015476
11                                    10  0.019987
12                                    10  0.020908
13                                    10  0.023020
14                                    10  0.025545
15                                    10  0.027903
16                                    10  0.041088
17                                    10  0.048178
18                                    10  0.067211
19                                    10  0.069817
20                                    10  0.102396
21                                    10  0.106232
22                                    10  0.139066
23                                    10  0.162458
24                                    10  0.164190       ISO                                     Country  MPI Urban  \
0   KAZ                                  Kazakhstan      0.000
1   SRB                                      Serbia      0.000
2   KGZ                                  Kyrgyzstan      0.000
3   TUN                                     Tunisia      0.000
4   ARM                                     Armenia      0.001
5   MKD  Macedonia, The former Yugoslav Republic of      0.001
6   TKM                                Turkmenistan      0.001
7   MDA                        Moldova, Republic of      0.001
8   GUY                                      Guyana      0.001
9   BIH                      Bosnia and Herzegovina      0.002
10  THA                                    Thailand      0.002
11  MEX                                      Mexico      0.002
12  LCA                                 Saint Lucia      0.002
13  MNE                                  Montenegro      0.002
14  DZA                                     Algeria      0.003
15  ALB                                     Albania      0.003
16  UKR                                     Ukraine      0.003
17  BRB                                    Barbados      0.004
18  UZB                                  Uzbekistan      0.004
19  PSE                        Palestine, State ofa      0.004
20  JAM                                     Jamaica      0.004
21  ECU                                     Ecuador      0.005
22  MDV                                    Maldives      0.005
23  BLZ                                      Belize      0.006
24  JOR                                      Jordan      0.006

    Headcount Ratio Urban  Intensity of Deprivation Urban  MPI Rural  \
0                     0.0                            33.3      0.000
1                     0.1                            41.4      0.002
2                     0.1                            40.2      0.003
3                     0.1                            35.6      0.012
4                     0.2                            33.3      0.001
5                     0.3                            36.3      0.004
6                     0.4                            33.9      0.001
7                     0.3                            42.2      0.003
8                     0.4                            38.2      0.017
9                     0.6                            36.5      0.002
10                    0.6                            37.1      0.004
11                    0.5                            38.0      0.014
12                    0.5                            36.7      0.004
13                    0.4                            47.2      0.000
14                    0.7                            36.9      0.011
15                    0.8                            37.7      0.007
16                    1.0                            33.7      0.006
17                    1.1                            34.2      0.002
18                    1.1                            33.9      0.010
19                    1.1                            38.5      0.003
20                    1.1                            40.0      0.010
21                    1.5                            36.5      0.030
22                    1.6                            33.3      0.024
23                    1.6                            37.9      0.028
24                    1.7                            34.7      0.007

    Headcount Ratio Rural  Intensity of Deprivation Rural
0                    0.09                            33.3
1                    0.50                            40.3
2                    0.70                            37.1
3                    3.18                            38.7
4                    0.39                            36.9
5                    1.17                            35.5
6                    0.32                            34.3
7                    1.01                            34.7
8                    4.25                            40.4
9                    0.44                            38.0
10                   1.07                            36.5
11                   3.37                            41.1
12                   1.05                            35.2
13                   0.09                            41.1
14                   2.70                            40.0
15                   1.87                            37.7
16                   1.77                            36.3
17                   0.57                            34.3
18                   2.86                            36.6
19                   0.88                            36.2
20                   2.49                            38.7
21                   7.68                            39.3
22                   6.76                            35.8
23                   6.98                            39.9
24                   1.81                            36.2   Code
Kazakhstan
Serbia
Kyrgyzstan
Tunisia
Armenia
Turkmenistan
Moldova, Republic of
Guyana
Thailand
Saint Lucia
Montenegro
Albania
Ukraine
Barbados
Palestine, State ofa
Maldives
Belize

68.0 % match between MPI Urban levels and weighted MPI levels

In [12]:
rural_sorted_df = national_mpi_df.sort_values(by = 'MPI Rural')
rural_sorted_df = rural_sorted_df.reset_index(drop=True)
print("Countries matching between the comparisons of MPI Rural levels and weighted MPI levels:")
rural_matching_percent = getDifferenceInPovertyIn2DFs(new_df.head(25), rural_sorted_df.head(25), 'Code')
print()
print(rural_matching_percent, "% match between MPI Rural levels and weighted MPI levels")

Countries matching between the comparisons of MPI Rural levels and weighted MPI levels:
    Country Numeric Code Country Code              Country  \
0                    688          SRB               Serbia
1                     51          ARM              Armenia
2                    398          KAZ           Kazakhstan
3                    275          PSE  Palestine, State of
4                    417          KGZ           Kyrgyzstan
5                    268          GEO              Georgia
6                    462          MDV             Maldives
7                    400          JOR               Jordan
8                    807          MKD      North Macedonia
9                    776          TON                Tonga
10                   764          THA             Thailand
11                   780          TTO  Trinidad and Tobago
12                   499          MNE           Montenegro
13                     8          ALB              Albania
14                   192          CUB                 Cuba
15                   788          TUN              Tunisia
16                   498          MDA              Moldova
17                    12          DZA              Algeria
18                   434          LBY                Libya
19                   328          GUY               Guyana
20                   144          LKA            Sri Lanka
21                   740          SUR             Suriname
22                    84          BLZ               Belize
23                   218          ECU              Ecuador
24                   762          TJK           Tajikistan

                       World Region Survey        Year  \
0           Europe and Central Asia    MICS       2019
1           Europe and Central Asia     DHS  2015-2016
2           Europe and Central Asia    MICS       2015
3                       Arab States    MICS  2019-2020
4           Europe and Central Asia    MICS       2018
5           Europe and Central Asia    MICS       2018
6                        South Asia     DHS  2016-2017
7                       Arab States     DHS  2017-2018
8           Europe and Central Asia    MICS  2018-2019
9         East Asia and the Pacific    MICS       2019
10        East Asia and the Pacific    MICS       2019
11  Latin America and the Caribbean    MICS       2011
12          Europe and Central Asia    MICS       2018
13          Europe and Central Asia     DHS  2017-2018
14  Latin America and the Caribbean    MICS       2019
15                      Arab States    MICS       2018
16          Europe and Central Asia    MICS       2012
17                      Arab States    MICS  2018-2019
18                      Arab States  PAPFAM       2014
19  Latin America and the Caribbean    MICS  2019-2020
20                       South Asia   SLDHS       2016
21  Latin America and the Caribbean    MICS       2018
22  Latin America and the Caribbean    MICS  2015-2016
23  Latin America and the Caribbean     ECV  2013-2014
24          Europe and Central Asia     DHS       2017

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.001611   0.451137         0.422889
3                               0.001980   0.496145         0.251218
4                               0.001426   0.393031         0.159708
5                               0.001245   0.093509         0.258537
6                               0.002654   0.736742         0.548289
7                               0.001526   0.175637         0.167731
8                               0.001422   0.049057         0.203836
9                               0.003336   0.304146         0.460735
10                              0.002121   0.337760         0.149112
11                              0.002418   0.258042         0.401916
12                              0.004899   0.953874         0.764634
13                              0.002748   0.463513         0.002417
14                              0.002689   0.103989         0.058942
15                              0.002888   0.365131         0.057891
16                              0.003534   0.194721         0.000000
17                              0.005409   0.785930         0.227118
18                              0.007421   1.518369         0.218035
19                              0.006592   0.967674         0.188593
20                              0.011185   2.031289         0.151074
21                              0.011232   1.008872         0.363792
22                              0.017109   3.195030         0.859584
23                              0.018254   2.944287         1.484279
24                              0.029006   6.220992         2.090680

    Years of schooling  School attendance  Cooking fuel  Sanitation  \
0             0.054523           0.049654      0.100292    0.030504
1             0.023653           0.128609      0.072571    0.190553
2             0.001840           0.028248      0.030088    0.000000
3             0.043423           0.324919      0.033550    0.094957
4             0.039468           0.113286      0.264173    0.052981
5             0.045744           0.131714      0.173111    0.151607
6             0.077987           0.162975      0.028416    0.017985
7             0.245264           0.244469      0.009403    0.039202
8             0.322799           0.126076      0.187670    0.094954
9             0.134528           0.680226      0.256515    0.127915
10            0.403154           0.170323      0.281824    0.079395
11            0.325322           0.168309      0.010478    0.081873
12            0.343557           0.312475      1.114433    0.173086
13            0.515700           0.392001      0.285011    0.143701
14            0.521477           0.121043      0.392816    0.521832
15            0.689426           0.377329      0.020881    0.235216
16            0.694186           0.204435      0.604277    0.721445
17            0.961048           0.639003      0.127189    0.616226
18            1.294226           0.868472      0.023327    0.323175
19            0.528961           0.381860      0.854623    0.678723
20            0.972291           0.667991      2.681250    1.393136
21            1.886028           1.067213      1.135456    1.825292
22            0.669085           1.480604      3.105453    2.034716
23            1.623347           0.966278      1.711376    2.854766
24            0.123214           4.482660      3.461746    0.317994

    Drinking water  Electricity   Housing    Assets  \
0         0.024812     0.007462  0.046886  0.015927
1         0.038291     0.000000  0.023653  0.048983
2         0.060462     0.001840  0.092562  0.001840
3         0.024368     0.000000  0.051991  0.012183
4         0.096483     0.000000  0.036623  0.000000
5         0.119599     0.003167  0.159053  0.045233
6         0.029303     0.005486  0.112716  0.005486
7         0.057727     0.000000  0.107639  0.033383
8         0.004192     0.079785  0.000000  0.087804
9         0.053358     0.057302  0.704978  0.066105
10        0.033739     0.028795  0.102842  0.109586
11        0.079379     0.234574  0.316121  0.169075
12        0.014167     0.049835  0.293551  0.049325
13        0.208050     0.000000  0.139252  0.049275
14        0.192338     0.048238  0.662197  0.605894
15        0.211729     0.038419  0.074609  0.147734
16        0.583815     0.055277  0.552623  0.563566
17        0.413188     0.165406  0.442450  0.132613
18        0.846756     0.046404  0.388273  0.033393
19        0.567458     1.044709  1.376074  1.143382
20        1.249193     0.740628  1.462285  1.138028
21        0.459928     0.938484  1.243672  1.637899
22        0.699909     2.464128  2.849148  1.029637
23        2.471513     0.708893  2.378183  1.677460
24        3.588403     0.099835  5.678573  0.311474

    Total number of indicators included    New MPI
0                                     10  0.002982
1                                     10  0.003531
2                                     10  0.005041
3                                     10  0.006145
4                                     10  0.006784
5                                     10  0.006847
6                                     10  0.008441
7                                     10  0.009974
8                                     10  0.012124
9                                     10  0.013118
10                                    10  0.015476
11                                    10  0.019987
12                                    10  0.020908
13                                    10  0.023020
14                                    10  0.025545
15                                    10  0.027903
16                                    10  0.041088
17                                    10  0.048178
18                                    10  0.067211
19                                    10  0.069817
20                                    10  0.102396
21                                    10  0.106232
22                                    10  0.139066
23                                    10  0.162458
24                                    10  0.164190       ISO                                     Country  MPI Urban  \
0   KAZ                                  Kazakhstan      0.000
1   MNE                                  Montenegro      0.002
2   TKM                                Turkmenistan      0.001
3   ARM                                     Armenia      0.001
4   BIH                      Bosnia and Herzegovina      0.002
5   BRB                                    Barbados      0.004
6   SRB                                      Serbia      0.000
7   MDA                        Moldova, Republic of      0.001
8   KGZ                                  Kyrgyzstan      0.000
9   PSE                        Palestine, State ofa      0.004
10  LCA                                 Saint Lucia      0.002
11  MKD  Macedonia, The former Yugoslav Republic of      0.001
12  THA                                    Thailand      0.002
13  UKR                                     Ukraine      0.003
14  JOR                                      Jordan      0.006
15  ALB                                     Albania      0.003
16  JAM                                     Jamaica      0.004
17  UZB                                  Uzbekistan      0.004
18  DZA                                     Algeria      0.003
19  TUN                                     Tunisia      0.000
20  MEX                                      Mexico      0.002
21  GUY                                      Guyana      0.001
22  EGY                                       Egypt      0.008
23  TTO                         Trinidad and Tobago      0.018
24  SYR                        Syrian Arab Republic      0.011

    Headcount Ratio Urban  Intensity of Deprivation Urban  MPI Rural  \
0                     0.0                            33.3      0.000
1                     0.4                            47.2      0.000
2                     0.4                            33.9      0.001
3                     0.2                            33.3      0.001
4                     0.6                            36.5      0.002
5                     1.1                            34.2      0.002
6                     0.1                            41.4      0.002
7                     0.3                            42.2      0.003
8                     0.1                            40.2      0.003
9                     1.1                            38.5      0.003
10                    0.5                            36.7      0.004
11                    0.3                            36.3      0.004
12                    0.6                            37.1      0.004
13                    1.0                            33.7      0.006
14                    1.7                            34.7      0.007
15                    0.8                            37.7      0.007
16                    1.1                            40.0      0.010
17                    1.1                            33.9      0.010
18                    0.7                            36.9      0.011
19                    0.1                            35.6      0.012
20                    0.5                            38.0      0.014
21                    0.4                            38.2      0.017
22                    2.1                            36.8      0.017
23                    5.4                            33.6      0.020
24                    3.0                            35.5      0.023

    Headcount Ratio Rural  Intensity of Deprivation Rural
0                    0.09                            33.3
1                    0.09                            41.1
2                    0.32                            34.3
3                    0.39                            36.9
4                    0.44                            38.0
5                    0.57                            34.3
6                    0.50                            40.3
7                    1.01                            34.7
8                    0.70                            37.1
9                    0.88                            36.2
10                   1.05                            35.2
11                   1.17                            35.5
12                   1.07                            36.5
13                   1.77                            36.3
14                   1.81                            36.2
15                   1.87                            37.7
16                   2.49                            38.7
17                   2.86                            36.6
18                   2.70                            40.0
19                   3.18                            38.7
20                   3.37                            41.1
21                   4.25                            40.4
22                   4.39                            38.5
23                   5.66                            35.4

24                   6.02                            38.5   Code
Kazakhstan
Montenegro
Turkmenistan
Armenia
Bosnia and Herzegovina
Moldova, Republic of
Kyrgyzstan
Saint Lucia
Macedonia, The former Yugoslav Republic of
Thailand
Ukraine
Albania
Jamaica
Uzbekistan
Tunisia

60.0 % match between MPI Rural levels and weighted MPI levels

When comparing the MPI Urban level based poverty rankings to the newly weighted MPI level rankings, there was a 68% match in the rankings for the top 25 countries and comparing the MPI Rural level based poverty rankings, there was a 60% match in the rankings for the top 25 countries. Since there is no significant evidence to say that the MPI Urban and Rural indicators are not matching well with the actual MPI indicator, the hypothesis is accepted which means that the MPI urban and MPI rural are accurate indicators of the poverty levels.

# Hypothesis 2

The higher the difference between the income of the highest 10% and the bottom 10%, the higher the chances are for a country to fall under most poor countries

In [13]:
wb_df = world_bank_df
wb_df['10% Difference'] = wb_df['Income_Highest_10'] - wb_df['Income_Lowest_10']
wb_df = wb_df.sort_values(by='10% Difference', ascending=False)
wb_df = wb_df.reset_index(drop=True)
wb_df.head(10)

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent,10% Difference
0,Slovak Republic,2017.0,12.2,NaN,NaN,NaN,2014.0,63.0,0.9,2.4,...,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.6
1,Russian Federation,2018.0,12.9,NaN,NaN,NaN,2017.0,56.3,1.3,3.9,...,49.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.8
2,Morocco,2013.0,4.8,1.4,15.0,2017.0,2015.0,59.1,1.0,2.8,...,47.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.3
3,Cayman Islands,NaN,NaN,65.9,82.9,2008.0,2008.0,56.2,1.2,3.3,...,46.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
4,Mongolia,2018.0,28.4,0.9,7.3,2013.0,2014.0,54.0,1.6,4.2,...,45.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.9
5,West Bank and Gaza,2016.0,29.2,0.8,4.5,2016.0,2015.0,57.1,1.0,2.9,...,44.4,2011.0,2016.0,-0.9,-0.6,5.5,5.2,11.2,10.9,43.4
6,Brazil,NaN,NaN,4.4,9.1,2018.0,2018.0,53.9,1.0,3.1,...,42.5,2013.0,2018.0,-0.4,0.7,5.6,5.5,20.3,21.0,41.5
7,Belize,NaN,NaN,13.9,27.7,1999.0,1999.0,53.3,0.9,3.2,...,42.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.5
8,St. Martin (French part),NaN,NaN,23.4,42.8,1999.0,2016.0,54.6,1.4,3.7,...,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.3
9,Guinea,2018.0,43.7,11.7,25.2,1998.0,2010.0,50.7,1.6,4.5,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.4

In [14]:
print("Countries matching between the comparisons of difference between highest and lowest 10% income:")
world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate', ascending=False)
world_bank_df = world_bank_df.reset_index(drop=True)
matching_percent = getDifferenceInPovertyIn2DFs(wb_df.head(25), world_bank_df.head(25), 'CountryName')
print()
print(matching_percent, "% match between the difference between highest and lowest 10% income")

Countries matching between the comparisons of difference between highest and lowest 10% income:
                     Country  Population_Below_Poverty_National_Year  \
0            Slovak Republic                                  2017.0
1         Russian Federation                                  2018.0
2                    Morocco                                  2013.0
3             Cayman Islands                                     NaN
4                   Mongolia                                  2018.0
5         West Bank and Gaza                                  2016.0
6                     Brazil                                     NaN
7                     Belize                                     NaN
8   St. Martin (French part)                                     NaN
9                     Guinea                                  2018.0
10                  Botswana                                  2009.0
11                    Angola                                  2018.0
12                   Comoros                                  2013.0
13                     Haiti                                  2012.0
14     Sao Tome and Principe                                  2017.0
15               South Sudan                                  2016.0
16                     Benin                                  2019.0
17                Costa Rica                                  2019.0
18                      Guam                                     NaN
19                    Norway                                  2017.0
20          Macao SAR, China                                     NaN
21                     Nepal                                  2010.0
22             Cote d'Ivoire                                  2018.0
23          Marshall Islands                                     NaN
24                  Pakistan                                  2015.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                12.2                             NaN
1                                12.9                             NaN
2                                 4.8                             1.4
3                                 NaN                            65.9
4                                28.4                             0.9
5                                29.2                             0.8
6                                 NaN                             4.4
7                                 NaN                            13.9
8                                 NaN                            23.4
9                                43.7                            11.7
10                               19.3                            14.5
11                               32.3                            51.8
12                               42.4                            77.2
13                               58.5                             NaN
14                               66.7                             5.4
15                               82.3                             NaN
16                               38.5                            49.6
17                               21.0                            29.8
18                                NaN                            36.1
19                               12.9                             NaN
20                                NaN                            77.4
21                               25.2                             NaN
22                               39.5                             0.5
23                                NaN                             0.2
24                               24.3                            38.0

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              NaN               NaN          2014.0
1                              NaN               NaN          2017.0
2                             15.0            2017.0          2015.0
3                             82.9            2008.0          2008.0
4                              7.3            2013.0          2014.0
5                              4.5            2016.0          2015.0
6                              9.1            2018.0          2018.0
7                             27.7            1999.0          1999.0
8                             42.8            1999.0          2016.0
9                             25.2            1998.0          2010.0
10                            36.5            2015.0          2015.0
11                            73.2            2018.0          2018.0
12                            91.4            2012.0          2018.0
13                             NaN               NaN          2018.0
14                             8.9            2017.0          2013.0
15                             NaN               NaN          2016.0
16                            76.3            2015.0          2015.0
17                            59.1            2015.0          2011.0
18                            70.9            2012.0          2014.0
19                             NaN               NaN          2018.0
20                            90.9            2012.0          2016.0
21                             NaN               NaN          2014.0
22                             1.1            2017.0          2018.0
23                             2.2            2017.0          2018.0
24                            65.6            2009.0          2018.0

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  63.0               0.9               2.4  ...
1                  56.3               1.3               3.9  ...
2                  59.1               1.0               2.8  ...
3                  56.2               1.2               3.3  ...
4                  54.0               1.6               4.2  ...
5                  57.1               1.0               2.9  ...
6                  53.9               1.0               3.1  ...
7                  53.3               0.9               3.2  ...
8                  54.6               1.4               3.7  ...
9                  50.7               1.6               4.5  ...
10                 53.3               1.5               3.9  ...
11                 51.3               1.3               3.8  ...
12                 50.4               1.4               4.0  ...
13                 52.1               0.9               3.0  ...
14                 46.8               1.9               5.4  ...
15                 51.2               0.9               3.1  ...
16                 47.8               1.0               3.2  ...
17                 48.9               1.6               4.2  ...
18                 48.3               1.7               4.5  ...
19                 49.2               1.2               3.6  ...
20                 44.7               2.6               6.4  ...
21                 46.2               2.0               5.1  ...
22                 48.0               1.5               4.3  ...
23                 45.4               2.0               5.4  ...
24                 46.2               1.7               4.7  ...

    Income_Highest_10  Baseline_Year  Recent_Year  \
0                50.5            NaN          NaN
1                49.1            NaN          NaN
2                47.3            NaN          NaN
3                46.2            NaN          NaN
4                45.5            NaN          NaN
5                44.4         2011.0       2016.0
6                42.5         2013.0       2018.0
7                42.4            NaN          NaN
8                42.7            NaN          NaN
9                42.0            NaN          NaN
10               41.5         2009.0       2015.0
11               39.6            NaN          NaN
12               39.7         2013.0       2018.0
13               39.1            NaN          NaN
14               39.9         2013.0       2017.0
15               38.6            NaN          NaN
16               37.6         2011.0       2015.0
17               37.9            NaN          NaN
18               38.0            NaN          NaN
19               37.1            NaN          NaN
20               38.1            NaN          NaN
21               37.2            NaN          NaN
22               36.3         2013.0       2018.0
23               36.4         2012.0       2017.0
24               35.9            NaN          NaN

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                           NaN                                 NaN
1                           NaN                                 NaN
2                           NaN                                 NaN
3                           NaN                                 NaN
4                           NaN                                 NaN
5                          -0.9                                -0.6
6                          -0.4                                 0.7
7                           NaN                                 NaN
8                           NaN                                 NaN
9                           NaN                                 NaN
10                          0.4                                -3.3
11                          NaN                                 NaN
12                          2.3                                 0.4
13                          NaN                                 NaN
14                          3.9                                 1.5
15                          NaN                                 NaN
16                         -5.2                                 0.1
17                          NaN                                 NaN
18                          NaN                                 NaN
19                          NaN                                 NaN
20                          NaN                                 NaN
21                          NaN                                 NaN
22                          1.4                                 0.6
23                          2.7                                 2.0
24                          NaN                                 NaN

    Mean_Consumption_Bottom_40_Baseline  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
5                                   5.5
6                                   5.6
7                                   NaN
8                                   NaN
9                                   NaN
10                                  2.1
11                                  NaN
12                                  3.8
13                                  NaN
14                                  4.3
15                                  NaN
16                                  1.1
17                                  NaN
18                                  NaN
19                                  NaN
20                                  NaN
21                                  NaN
22                                  6.9
23                                  5.6
24                                  NaN

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
5                                      5.2
6                                      5.5
7                                      NaN
8                                      NaN
9                                      NaN
10                                     2.2
11                                     NaN
12                                     4.3
13                                     NaN
14                                     5.0
15                                     NaN
16                                     0.9
17                                     NaN
18                                     NaN
19                                     NaN
20                                     NaN
21                                     NaN
22                                     7.4
23                                     6.4
24                                     NaN

    Mean_Consumption_Total_Population_Baseline  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
5                                         11.2
6                                         20.3
7                                          NaN
8                                          NaN
9                                          NaN
10                                         9.9
11                                         NaN
12                                        14.0
13                                         NaN
14                                        11.4
15                                         NaN
16                                         2.7
17                                         NaN
18                                         NaN
19                                         NaN
20                                         NaN
21                                         NaN
22                                        22.4
23                                        12.3
24                                         NaN

    Mean_Consumption_Total_Population_Most_Recent  10% Difference
0                                             NaN            49.6
1                                             NaN            47.8
2                                             NaN            46.3
3                                             NaN            45.0
4                                             NaN            43.9
5                                            10.9            43.4
6                                            21.0            41.5
7                                             NaN            41.5
8                                             NaN            41.3
9                                             NaN            40.4
10                                            8.0            40.0
11                                            NaN            38.3
12                                           14.3            38.3
13                                            NaN            38.2
14                                           12.1            38.0
15                                            NaN            37.7
16                                            2.7            36.6
17                                            NaN            36.3
18                                            NaN            36.3
19                                            NaN            35.9
20                                            NaN            35.5
21                                            NaN            35.2
22                                           23.1            34.8
23                                           13.6            34.4
24                                            NaN            34.2

[25 rows x 24 columns]                      Country  Population_Below_Poverty_National_Year  \
0            Slovak Republic                                  2017.0
1                    Morocco                                  2013.0
2                  St. Lucia                                  2016.0
3         West Bank and Gaza                                  2016.0
4         Russian Federation                                  2018.0
5             Cayman Islands                                     NaN
6   St. Martin (French part)                                     NaN
7                   Mongolia                                  2018.0
8                     Brazil                                     NaN
9                     Belize                                     NaN
10                  Botswana                                  2009.0
11                     Haiti                                  2012.0
12                    Angola                                  2018.0
13               South Sudan                                  2016.0
14                    Guinea                                  2018.0
15                   Comoros                                  2013.0
16                    Norway                                  2017.0
17                Costa Rica                                  2019.0
18                      Guam                                     NaN
19             Cote d'Ivoire                                  2018.0
20                     Benin                                  2019.0
21                Uzbekistan                                  2013.0
22     Sao Tome and Principe                                  2017.0
23                Cabo Verde                                  2015.0
24                  Slovenia                                  2018.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                12.2                             NaN
1                                 4.8                             1.4
2                                25.0                            12.2
3                                29.2                             0.8
4                                12.9                             NaN
5                                 NaN                            65.9
6                                 NaN                            23.4
7                                28.4                             0.9
8                                 NaN                             4.4
9                                 NaN                            13.9
10                               19.3                            14.5
11                               58.5                             NaN
12                               32.3                            51.8
13                               82.3                             NaN
14                               43.7                            11.7
15                               42.4                            77.2
16                               12.9                             NaN
17                               21.0                            29.8
18                                NaN                            36.1
19                               39.5                             0.5
20                               38.5                            49.6
21                               14.1                            61.6
22                               66.7                             5.4
23                               35.0                             NaN
24                               12.0                            18.7

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              NaN               NaN          2014.0
1                             15.0            2017.0          2015.0
2                             44.0            2014.0          1999.0
3                              4.5            2016.0          2015.0
4                              NaN               NaN          2017.0
5                             82.9            2008.0          2008.0
6                             42.8            1999.0          2016.0
7                              7.3            2013.0          2014.0
8                              9.1            2018.0          2018.0
9                             27.7            1999.0          1999.0
10                            36.5            2015.0          2015.0
11                             NaN               NaN          2018.0
12                            73.2            2018.0          2018.0
13                             NaN               NaN          2016.0
14                            25.2            1998.0          2010.0
15                            91.4            2012.0          2018.0
16                             NaN               NaN          2018.0
17                            59.1            2015.0          2011.0
18                            70.9            2012.0          2014.0
19                             1.1            2017.0          2018.0
20                            76.3            2015.0          2015.0
21                            86.2            2003.0          2006.0
22                             8.9            2017.0          2013.0
23                             NaN               NaN          2014.0
24                            37.3            2014.0          2009.0

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  63.0               0.9               2.4  ...
1                  59.1               1.0               2.8  ...
2                  57.6               NaN               NaN  ...
3                  57.1               1.0               2.9  ...
4                  56.3               1.3               3.9  ...
5                  56.2               1.2               3.3  ...
6                  54.6               1.4               3.7  ...
7                  54.0               1.6               4.2  ...
8                  53.9               1.0               3.1  ...
9                  53.3               0.9               3.2  ...
10                 53.3               1.5               3.9  ...
11                 52.1               0.9               3.0  ...
12                 51.3               1.3               3.8  ...
13                 51.2               0.9               3.1  ...
14                 50.7               1.6               4.5  ...
15                 50.4               1.4               4.0  ...
16                 49.2               1.2               3.6  ...
17                 48.9               1.6               4.2  ...
18                 48.3               1.7               4.5  ...
19                 48.0               1.5               4.3  ...
20                 47.8               1.0               3.2  ...
21                 46.9               0.5               3.2  ...
22                 46.8               1.9               5.4  ...
23                 46.6               1.7               4.5  ...
24                 46.3               1.3               3.9  ...

    Income_Highest_10  Baseline_Year  Recent_Year  \
0                50.5            NaN          NaN
1                47.3            NaN          NaN
2                42.7            NaN          NaN
3                44.4         2011.0       2016.0
4                49.1            NaN          NaN
5                46.2            NaN          NaN
6                42.7            NaN          NaN
7                45.5            NaN          NaN
8                42.5         2013.0       2018.0
9                42.4            NaN          NaN
10               41.5         2009.0       2015.0
11               39.1            NaN          NaN
12               39.6            NaN          NaN
13               38.6            NaN          NaN
14               42.0            NaN          NaN
15               39.7         2013.0       2018.0
16               37.1            NaN          NaN
17               37.9            NaN          NaN
18               38.0            NaN          NaN
19               36.3         2013.0       2018.0
20               37.6         2011.0       2015.0
21               34.1            NaN          NaN
22               39.9         2013.0       2017.0
23               35.0            NaN          NaN
24               33.2            NaN          NaN

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                           NaN                                 NaN
1                           NaN                                 NaN
2                           NaN                                 NaN
3                          -0.9                                -0.6
4                           NaN                                 NaN
5                           NaN                                 NaN
6                           NaN                                 NaN
7                           NaN                                 NaN
8                          -0.4                                 0.7
9                           NaN                                 NaN
10                          0.4                                -3.3
11                          NaN                                 NaN
12                          NaN                                 NaN
13                          NaN                                 NaN
14                          NaN                                 NaN
15                          2.3                                 0.4
16                          NaN                                 NaN
17                          NaN                                 NaN
18                          NaN                                 NaN
19                          1.4                                 0.6
20                         -5.2                                 0.1
21                          NaN                                 NaN
22                          3.9                                 1.5
23                          NaN                                 NaN
24                          NaN                                 NaN

    Mean_Consumption_Bottom_40_Baseline  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   5.5
4                                   NaN
5                                   NaN
6                                   NaN
7                                   NaN
8                                   5.6
9                                   NaN
10                                  2.1
11                                  NaN
12                                  NaN
13                                  NaN
14                                  NaN
15                                  3.8
16                                  NaN
17                                  NaN
18                                  NaN
19                                  6.9
20                                  1.1
21                                  NaN
22                                  4.3
23                                  NaN
24                                  NaN

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      5.2
4                                      NaN
5                                      NaN
6                                      NaN
7                                      NaN
8                                      5.5
9                                      NaN
10                                     2.2
11                                     NaN
12                                     NaN
13                                     NaN
14                                     NaN
15                                     4.3
16                                     NaN
17                                     NaN
18                                     NaN
19                                     7.4
20                                     0.9
21                                     NaN
22                                     5.0
23                                     NaN
24                                     NaN

    Mean_Consumption_Total_Population_Baseline  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                         11.2
4                                          NaN
5                                          NaN
6                                          NaN
7                                          NaN
8                                         20.3
9                                          NaN
10                                         9.9
11                                         NaN
12                                         NaN
13                                         NaN
14                                         NaN
15                                        14.0
16                                         NaN
17                                         NaN
18                                         NaN
19                                        22.4
20                                         2.7
21                                         NaN
22                                        11.4
23                                         NaN
24                                         NaN

    Mean_Consumption_Total_Population_Most_Recent  10% Difference
0                                             NaN            49.6
1                                             NaN            46.3
2                                             NaN             NaN
3                                            10.9            43.4
4                                             NaN            47.8
5                                             NaN            45.0
6                                             NaN            41.3
7                                             NaN            43.9
8                                            21.0            41.5
9                                             NaN            41.5
10                                            8.0            40.0
11                                            NaN            38.2
12                                            NaN            38.3
13                                            NaN            37.7
14                                            NaN            40.4
15                                           14.3            38.3
16                                            NaN            35.9
17                                            NaN            36.3
18                                            NaN            36.3
19                                           23.1            34.8
20                                            2.7            36.6
21                                            NaN            33.6
22                                           12.1            38.0
23                                            NaN            33.3
24                                            NaN            31.9

[25 rows x 24 columns] CountryName
Slovak Republic
Morocco
St. Lucia
West Bank and Gaza
Russian Federation
Cayman Islands
St. Martin (French part)
Mongolia
Brazil
Belize
Botswana
Haiti
Angola
South Sudan
Guinea
Comoros
Norway
Costa Rica
Guam
Cote d'Ivoire
Sao Tome and Principe

84.0 % match between the difference between highest and lowest 10% income

After getting poverty rankings with the difference between the highest and lowest 10% income, it was compared to the weighted MPI list to check for similarity which gave a 84% match. The income difference list was sorted in reverse order so that the countries are listed according to their difference between the income of highest and lowest 10%. This is later compared to the MPI index list and got a 84% match, which allows us to conclude that 84% of the 25 countries with highest income difference appeared in the 25 countries list of the weighted MPI index. The higher accuracy allows us to accept the hypothesis which means that the higher the difference between the income of the highest 10% and the bottom 10%, the higher the chances are for a country to fall under most poor countries.

# Hypothesis 3

The higher the annualized growth of the bottom 40% of people in terms of income the higher the chances are for that country to push of the poverty zone

In [15]:
wb_df = world_bank_df
wb_df = wb_df.sort_values(by='Annualized_Growth_Bottom_40', ascending=False)
wb_df = wb_df.reset_index(drop=True)
wb_df.head(10)

,Country,Population_Below_Poverty_National_Year,Population_Below_Poverty_National,Population_Below_Poverty_Rural,Population_Below_Poverty_Urban,Poverty_Gap_Year,Reference_Year,World_Bank_Estimate,Income_Lowest_10,Income_Lowest_20,...,Income_Highest_10,Baseline_Year,Recent_Year,Annualized_Growth_Bottom_40,Annualized_Growth_Total_Population,Mean_Consumption_Bottom_40_Baseline,Mean_Consumption_Bottom_40_Most_Recent,Mean_Consumption_Total_Population_Baseline,Mean_Consumption_Total_Population_Most_Recent,10% Difference
0,Portugal,2018.0,17.2,3.1,6.3,2017.0,2018.0,37.5,2.9,7.1,...,29.9,2012.0,2017.0,10.0,10.0,4.2,6.8,10.1,16.3,27.0
1,Chile,2017.0,8.6,0.5,5.4,2016.0,2016.0,38.5,2.7,6.5,...,29.4,2013.0,2016.0,8.4,7.1,3.9,5.0,9.5,11.6,26.7
2,Madagascar,2012.0,70.7,0.0,0.2,2015.0,2016.0,31.3,3.4,8.3,...,25.2,2015.0,2016.0,8.3,6.0,11.1,11.1,28.0,28.0,21.8
3,Eswatini,2017.0,58.9,NaN,NaN,NaN,2017.0,30.4,3.0,8.1,...,22.5,2012.0,2017.0,8.0,7.2,12.1,17.8,24.2,34.3,19.5
4,Lao PDR,2018.0,18.3,0.0,0.1,2011.0,2011.0,31.8,3.1,7.9,...,24.8,2012.0,2017.0,7.9,8.2,8.3,12.1,17.9,26.6,21.7
5,Luxembourg,2017.0,18.3,4.6,9.0,2017.0,2012.0,42.6,2.2,5.7,...,33.5,2012.0,2017.0,7.1,4.3,3.7,5.3,9.5,11.7,31.3
6,Liechtenstein,NaN,NaN,0.3,0.4,2017.0,2017.0,34.9,2.4,6.5,...,25.8,2012.0,2017.0,6.3,7.4,9.4,12.8,20.0,28.7,23.4
7,Paraguay,2018.0,24.2,0.3,0.6,2017.0,2017.0,33.8,2.7,7.4,...,26.7,2012.0,2017.0,6.0,4.0,11.2,15.0,22.8,27.8,24.0
8,Mozambique,2014.0,46.1,13.8,30.3,2015.0,2010.0,32.8,3.5,8.3,...,26.4,2009.0,2015.0,5.7,6.6,1.7,2.4,7.6,11.0,22.9
9,Cuba,NaN,NaN,NaN,NaN,NaN,2017.0,30.4,2.7,7.4,...,22.8,2012.0,2017.0,5.5,4.3,8.7,11.4,17.8,21.9,20.1

In [16]:
print("Countries matching after the comparisons of Annualized Growth of Bottom 40% income bracket people:")
world_bank_df = world_bank_df.sort_values(by = 'World_Bank_Estimate')
world_bank_df = world_bank_df.reset_index(drop=True)
matching_percent = getDifferenceInPovertyIn2DFs(wb_df.head(25), new_df.head(25), 'CountryName')
print()
print(matching_percent, "% match after the comparisons of Annualized Growth of Bottom 40% income bracket people")

Countries matching after the comparisons of Annualized Growth of Bottom 40% income bracket people:
                           Country  Population_Below_Poverty_National_Year  \
0                         Portugal                                  2018.0
1                            Chile                                  2017.0
2                       Madagascar                                  2012.0
3                         Eswatini                                  2017.0
4                          Lao PDR                                  2018.0
5                       Luxembourg                                  2017.0
6                    Liechtenstein                                     NaN
7                         Paraguay                                  2018.0
8                       Mozambique                                  2014.0
9                             Cuba                                     NaN
10             Trinidad and Tobago                                     NaN
11                            Oman                                     NaN
12                         Ecuador                                  2019.0
13                Papua New Guinea                                  2009.0
14                           India                                  2011.0
15                         Vietnam                                  2018.0
16                 Channel Islands                                     NaN
17            Hong Kong SAR, China                                     NaN
18  St. Vincent and the Grenadines                                     NaN
19                          Monaco                                     NaN
20                     Isle of Man                                     NaN
21                    South Africa                                  2014.0
22               Equatorial Guinea                                  2006.0
23           Sao Tome and Principe                                  2017.0
24                        Maldives                                  2016.0

    Population_Below_Poverty_National  Population_Below_Poverty_Rural  \
0                                17.2                             3.1
1                                 8.6                             0.5
2                                70.7                             0.0
3                                58.9                             NaN
4                                18.3                             0.0
5                                18.3                             4.6
6                                 NaN                             0.3
7                                24.2                             0.3
8                                46.1                            13.8
9                                 NaN                             NaN
10                                NaN                             0.2
11                                NaN                             1.7
12                               25.0                             3.8
13                               39.9                             6.0
14                               21.9                             0.3
15                                6.7                             1.9
16                                NaN                             0.3
17                                NaN                             0.0
18                                NaN                            29.2
19                                NaN                             1.4
20                                NaN                             1.4
21                               55.5                             0.9
22                               76.8                             NaN
23                               66.7                             5.4
24                                8.2                             0.2

    Population_Below_Poverty_Urban  Poverty_Gap_Year  Reference_Year  \
0                              6.3            2017.0          2018.0
1                              5.4            2016.0          2016.0
2                              0.2            2015.0          2016.0
3                              NaN               NaN          2017.0
4                              0.1            2011.0          2011.0
5                              9.0            2017.0          2012.0
6                              0.4            2017.0          2017.0
7                              0.6            2017.0          2017.0
8                             30.3            2015.0          2010.0
9                              NaN               NaN          2017.0
10                             3.0            2015.0          1998.0
11                             5.2            2018.0          2009.0
12                            28.9            2017.0          2018.0
13                            25.8            2015.0          2017.0
14                             2.7            2017.0          2017.0
15                             6.8            2018.0          2016.0
16                             0.7            2017.0          2017.0
17                             0.0            2015.0          2015.0
18                            52.1            2016.0          2017.0
19                             8.0            2015.0          2013.0
20                             1.8            2017.0          2017.0
21                            10.8            2016.0             NaN
22                             NaN               NaN          2018.0
23                             8.9            2017.0          2013.0
24                             0.2            2017.0             NaN

    World_Bank_Estimate  Income_Lowest_10  Income_Lowest_20  ...  \
0                  37.5               2.9               7.1  ...
1                  38.5               2.7               6.5  ...
2                  31.3               3.4               8.3  ...
3                  30.4               3.0               8.1  ...
4                  31.8               3.1               7.9  ...
5                  42.6               2.2               5.7  ...
6                  34.9               2.4               6.5  ...
7                  33.8               2.7               7.4  ...
8                  32.8               3.5               8.3  ...
9                  30.4               2.7               7.4  ...
10                 40.8               2.6               6.1  ...
11                 41.9               1.9               5.1  ...
12                 43.7               2.3               5.8  ...
13                 29.7               3.2               8.3  ...
14                 40.8               2.3               5.9  ...
15                 33.7               2.9               7.3  ...
16                 44.4               2.3               5.8  ...
17                 26.8               3.9               9.5  ...
18                 28.8               3.0               8.3  ...
19                 39.5               2.7               6.7  ...
20                 35.9               1.9               6.0  ...
21                  NaN               NaN               NaN  ...
22                 38.6               2.4               6.2  ...
23                 46.8               1.9               5.4  ...
24                  NaN               NaN               NaN  ...

    Income_Highest_10  Baseline_Year  Recent_Year  \
0                29.9         2012.0       2017.0
1                29.4         2013.0       2016.0
2                25.2         2015.0       2016.0
3                22.5         2012.0       2017.0
4                24.8         2012.0       2017.0
5                33.5         2012.0       2017.0
6                25.8         2012.0       2017.0
7                26.7         2012.0       2017.0
8                26.4         2009.0       2015.0
9                22.8         2012.0       2017.0
10               31.7         2010.0       2015.0
11               31.0         2013.0       2018.0
12               35.2         2011.0       2016.0
13               23.5         2012.0       2015.0
14               31.3         2014.0       2018.0
15               25.2         2012.0       2018.0
16               36.3         2013.0       2017.0
17               22.5         2012.0       2017.0
18               22.3         2009.0       2016.0
19               31.9         2012.0       2015.0
20               26.7         2010.0       2016.0
21                NaN         2012.0       2016.0
22               29.4         2013.0       2018.0
23               39.9         2013.0       2017.0
24                NaN         2012.0       2017.0

    Annualized_Growth_Bottom_40  Annualized_Growth_Total_Population  \
0                          10.0                                10.0
1                           8.4                                 7.1
2                           8.3                                 6.0
3                           8.0                                 7.2
4                           7.9                                 8.2
5                           7.1                                 4.3
6                           6.3                                 7.4
7                           6.0                                 4.0
8                           5.7                                 6.6
9                           5.5                                 4.3
10                          5.4                                 3.4
11                          5.3                                 3.9
12                          5.2                                 4.3
13                          5.1                                 2.6
14                          5.1                                 4.9
15                          4.9                                 5.0
16                          4.9                                 3.8
17                          4.8                                 4.6
18                          4.7                                 6.1
19                          4.7                                 1.4
20                          4.2                                 2.6
21                          4.2                                 4.7
22                          4.0                                 1.8
23                          3.9                                 1.5
24                          3.8                                 3.7

    Mean_Consumption_Bottom_40_Baseline  \
0                                   4.2
1                                   3.9
2                                  11.1
3                                  12.1
4                                   8.3
5                                   3.7
6                                   9.4
7                                  11.2
8                                   1.7
9                                   8.7
10                                  4.3
11                                  5.9
12                                  4.2
13                                  2.4
14                                  2.5
15                                  3.7
16                                  8.1
17                                  9.8
18                                  1.1
19                                  4.8
20                                 11.2
21                                  3.3
22                                  3.8
23                                  4.3
24                                 20.6

    Mean_Consumption_Bottom_40_Most_Recent  \
0                                      6.8
1                                      5.0
2                                     11.1
3                                     17.8
4                                     12.1
5                                      5.3
6                                     12.8
7                                     15.0
8                                      2.4
9                                     11.4
10                                     5.6
11                                     7.7
12                                     5.4
13                                     2.8
14                                     3.1
15                                     4.9
16                                     9.8
17                                    12.4
18                                     1.5
19                                     5.6
20                                    14.3
21                                     3.8
22                                     4.7
23                                     5.0
24                                    24.8

    Mean_Consumption_Total_Population_Baseline  \
0                                         10.1
1                                          9.5
2                                         28.0
3                                         24.2
4                                         17.9
5                                          9.5
6                                         20.0
7                                         22.8
8                                          7.6
9                                         17.8
10                                         9.5
11                                        21.4
12                                        12.6
13                                         7.0
14                                         5.7
15                                         7.9
16                                        21.9
17                                        18.8
18                                         3.8
19                                        13.5
20                                        31.3
21                                         7.4
22                                        10.0
23                                        11.4
24                                        37.7

    Mean_Consumption_Total_Population_Most_Recent  10% Difference
0                                            16.3            27.0
1                                            11.6            26.7
2                                            28.0            21.8
3                                            34.3            19.5
4                                            26.6            21.7
5                                            11.7            31.3
6                                            28.7            23.4
7                                            27.8            24.0
8                                            11.0            22.9
9                                            21.9            20.1
10                                           11.2            29.1
11                                           25.9            29.1
12                                           15.5            32.9
13                                            7.5            20.3
14                                            6.9            29.0
15                                           10.6            22.3
16                                           25.5            34.0
17                                           23.6            18.6
18                                            5.7            19.3
19                                           14.0            29.2
20                                           36.4            24.8
21                                            8.7             NaN
22                                           10.9            27.0
23                                           12.1            38.0
24                                           45.2             NaN

[25 rows x 24 columns]     Country Numeric Code Country Code              Country  \
0                    688          SRB               Serbia
1                     51          ARM              Armenia
2                    398          KAZ           Kazakhstan
3                    275          PSE  Palestine, State of
4                    417          KGZ           Kyrgyzstan
5                    268          GEO              Georgia
6                    462          MDV             Maldives
7                    400          JOR               Jordan
8                    807          MKD      North Macedonia
9                    776          TON                Tonga
10                   764          THA             Thailand
11                   780          TTO  Trinidad and Tobago
12                   499          MNE           Montenegro
13                     8          ALB              Albania
14                   192          CUB                 Cuba
15                   788          TUN              Tunisia
16                   498          MDA              Moldova
17                    12          DZA              Algeria
18                   434          LBY                Libya
19                   328          GUY               Guyana
20                   144          LKA            Sri Lanka
21                   740          SUR             Suriname
22                    84          BLZ               Belize
23                   218          ECU              Ecuador
24                   762          TJK           Tajikistan

                       World Region Survey        Year  \
0           Europe and Central Asia    MICS       2019
1           Europe and Central Asia     DHS  2015-2016
2           Europe and Central Asia    MICS       2015
3                       Arab States    MICS  2019-2020
4           Europe and Central Asia    MICS       2018
5           Europe and Central Asia    MICS       2018
6                        South Asia     DHS  2016-2017
7                       Arab States     DHS  2017-2018
8           Europe and Central Asia    MICS  2018-2019
9         East Asia and the Pacific    MICS       2019
10        East Asia and the Pacific    MICS       2019
11  Latin America and the Caribbean    MICS       2011
12          Europe and Central Asia    MICS       2018
13          Europe and Central Asia     DHS  2017-2018
14  Latin America and the Caribbean    MICS       2019
15                      Arab States    MICS       2018
16          Europe and Central Asia    MICS       2012
17                      Arab States    MICS  2018-2019
18                      Arab States  PAPFAM       2014
19  Latin America and the Caribbean    MICS  2019-2020
20                       South Asia   SLDHS       2016
21  Latin America and the Caribbean    MICS       2018
22  Latin America and the Caribbean    MICS  2015-2016
23  Latin America and the Caribbean     ECV  2013-2014
24          Europe and Central Asia     DHS       2017

    Multidimensional Poverty Index (MPI)  Nutrition  Child mortality  \
0                               0.000433   0.023019         0.057378
1                               0.000690   0.137095         0.000000
2                               0.001611   0.451137         0.422889
3                               0.001980   0.496145         0.251218
4                               0.001426   0.393031         0.159708
5                               0.001245   0.093509         0.258537
6                               0.002654   0.736742         0.548289
7                               0.001526   0.175637         0.167731
8                               0.001422   0.049057         0.203836
9                               0.003336   0.304146         0.460735
10                              0.002121   0.337760         0.149112
11                              0.002418   0.258042         0.401916
12                              0.004899   0.953874         0.764634
13                              0.002748   0.463513         0.002417
14                              0.002689   0.103989         0.058942
15                              0.002888   0.365131         0.057891
16                              0.003534   0.194721         0.000000
17                              0.005409   0.785930         0.227118
18                              0.007421   1.518369         0.218035

Tonga
Thailand
Montenegro
Tajikistan

16.0 % match after the comparisons of Annualized Growth of Bottom 40% income bracket people

The country poverty list based on the highest annualized grwoth of bottom 40% income bracket people was prepared and compared with the weighted MPI list and only 16% of countries came to be common, which means that only 12% of the top 25 countries in the annualized grwoth list was found in the top 25 of the MPI list. This is not a strong enough evidence to accept the hypothesis. Hence, the hypothesis is rejected meaning the higher the annualized growth of the bottom 40% of people in terms of income does not mean that chances for that country to push of the poverty zone is high.